[2016-04-12 00:59] eweitz opened #31 "Support multiple facets"
Implement support for multiple facets in Ideogram.js's filtering module.  Selections across different facets should apply a Boolean AND (intersection), in contrast to selections within a facet, which apply a Boolean OR (union).

[2016-04-18 03:02] eweitz commented on #31
Done, merged.

[2016-04-18 03:02] #31 closed

[2016-04-24 00:55] eweitz opened #34 "Basic feature labeling"
Support labeling for features like genes or small variants.  For example, in an ideogram with a basic annotation showing the location of gene BRCA1, add an option to display the label "BRCA1" next to the annotation.

[2016-04-26 00:26] eweitz opened #35 "Document annotations JSON format"
Document the format of JSON for annotations, so developers do not need to dive into Chrome DevTools to learn how to output annotations data for display.

[2016-05-04 12:47] apallav opened #36 "Annotations based on coordinate"
Hi,

Excellent plugin. Thanks for developing and sharing it over the github.

I am wondering if I can annotate based on chromosome coordinate so the arrow is placed exactly at that point on the ideogram.

thanks,

Aparna

[2016-05-05 00:58] eweitz opened #37 "Add parameter for assembly"
Add a parameter for "assembly" to the Ideogram constructor.

The intent is to enable users to specify a non-default (i.e., previous or non-reference) assembly for the given organism.  For example in human, where GRCh38 would be the default, this would enable users to specify the previous major version of human reference genome, GRCh37.

Allow NCBI name, GenBank accession or RefSeq accession.

[2016-05-05 12:58] eweitz commented on #36
Yes, http://eweitz.github.io/ideogram/annotations_basic.html is probably the closest example demonstrating how to do that.  View source on that page to get the entire idea, but in brief your ideogram configuration would look something like:

[code]

If you want to display the location of [BRCA1](http://www.ncbi.nlm.nih.gov/gene/672) on chromosome 17, then `annotations.json` would contain:

[code]

[2016-05-08 00:55] eweitz opened #39 "Annotations API"
Support dynamically adding annotations through a JavaScript API, to complement the current file-based approach.

[2016-05-08 17:14] eweitz commented on #37
This has a basic implementation per pull request #40.  Specifying assembly by accession can be added in the future.

[2016-05-08 17:14] #37 closed

[2016-05-21 00:31] eweitz opened #42 "Support circular annotation shape"
Implement support for circular annotation shapes.

[2016-05-25 12:06] eweitz commented on #42
Done by #43.

[2016-05-25 12:06] #42 closed

[2016-05-25 12:07] eweitz commented on #39
Done by #43.

[2016-05-25 12:07] #39 closed

[2016-05-29 21:42] eweitz opened #45 "Support all eukaryotes"
Develop support for basic depictions for the chromosome complement of all eukaryotes.  Integrate a third-party web API to retrieve chromosome count and length data for arbitrary taxa.

[2016-06-01 00:42] eweitz opened #46 "Perpendicular band labels"
Add support for perpendicular band labels, e.g. in horizontally-oriented chromosomes.

[2016-06-07 13:19] mrouard opened #47 "Enable ploidy support"
Would it be difficult to adapt the code to propose a display for homologous chromosomes for polyploid genomes ?

For instance, by adding a ploidy parameter in the conf file, having all chromosomes displayed.  In the case of allopolyploids, it would be nice to be able to distinguish between genome groups (e.g. A, B).

[2016-06-07 13:25] mrouard opened #48 "Arm colored"
Is there an option in the code to color arms of the chromosome?

[2016-06-10 00:30] eweitz commented on #48
Not yet, @mrouard, but I've begun developing one per this issue.  An initial implementation will be ready within a few days.

[2016-06-10 00:56] eweitz commented on #47
Great idea, @mrouard.  If you could provide an example of which the different species you'd like to compare in an [allopolyploidy](https://en.wikipedia.org/wiki/Allopolyploidy) view, that would help me ensure I'm on the right track.

Existing examples like those in [Homology, basic](http://eweitz.github.io/ideogram/homology_basic.html) and [Homology, advanced](http://eweitz.github.io/ideogram/homo

[2016-06-10 08:46] mrouard commented on #47
Thanks for your answer.
I would be glad to give you all the details and also explain how we may use Ideogram.js.
It would be easier to start by email but I could not find yours.
If you don't mind dropping a line at m.rouard@cgiar.org, I will tell you. I hope it can be of interest for your future developments too.

[2016-06-10 11:08] mrouard commented on #47
The species would be plants such as banana, wheat or coffee where you have genomes with different letters (e.g. A, B). For instance, banana can be represented according to genome group like AA, AB, AAA, AAB etc.

[2016-06-10 11:09] mrouard commented on #48
That's great ! thanks.

[2016-06-14 03:32] #48 closed

[2016-06-15 12:57] eweitz commented on #48
@mrouard, is http://eweitz.github.io/ideogram/annotations_colored_arms.html close to what you had in mind?  The gist:

[code]
[View source](https://github.com/eweitz/ideogram/blob/0ec06726bd34a00678932213190f78941da1ef35/annotations_colored_arms.html#L1) for full implementation details.  Let me know of any questions!

[2016-06-20 12:40] eweitz commented on #35
I've written some initial documentation on this at https://github.com/eweitz/ideogram/wiki/Annotations.

[2016-06-20 12:40] #35 closed

[2016-06-20 17:30] ProjectProgramAMark commented on #45
Any idea on the estimated time for this to be completed? I can also try and help if I can get caught up to speed.

[2016-06-22 00:50] lmlawas1 opened #50 "ReferenceError"
I know you are using Ubuntu 14.04 with PhantomJS 1.9.7 and Node 0.12.7, but I'm using Windows 10 with the same PhantomJS version, and Node 2.15.5.

I have already installed the necessary packages, and followed the steps written in server.js, but after running the curl command-line in a different command prompt, I get an error.

<b>command prompt window 1</b>
<blockquote>C:\ideogram-js\examples\ser

[2016-06-22 05:11] #50 closed

[2016-06-23 12:59] eweitz commented on #45
I would like for Ideogram.js to have basic support for all eukaryotes that have suitable data before August.

Any help would be appreciated!

Development can be divided into two tasks: data retrieval and rendering.  If you want to help, @ProjectProgramAMark, I would recommend trying the data retrieval task.  I'll take care of rendering.

# Data retrieval
Given an organism's scientific name, get a

[2016-06-25 19:42] ProjectProgramAMark commented on #45
I'm having a bit of trouble with sending the request to get the full sequence report using the assembly RefSeq accession (for ftp://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/All/GCF_000002765.3.assembly.txt). It's returning the following error:

`XMLHttpRequest cannot load https://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/All/GCF_000002765.3.assembly.txt. No 'Access-Control-Allow-Origin' h

[2016-06-26 07:28] Klortho commented on #45
Yes, it is a CORS problem. Since you're running your own server, the easiest way to address it is to run a proxy server with it. I sent you [this pull-request](https://github.com/ProjectProgramAMark/d3test/pull/1), which allows you to start the proxy server in a separate terminal, and it runs on port 8005. I''m not familiar with express, but probably express has a more elegant way to run a proxy s

[2016-06-26 07:29] Klortho commented on #45
Oh, and it's only set up for http, not https -- that will work for now, but not long-term. But, hopefully, we can get the CORS problem sorted.

[2016-06-26 07:42] Klortho commented on #45
@ProjectProgramAMark , I sent you [this pull request](https://github.com/ProjectProgramAMark/d3test/pull/1), with some responses.

[2016-06-26 17:53] ProjectProgramAMark commented on #45
Thanks @Klortho, the only thing I'm unsure about it @eweitz specified he didn't want any server code being used in this feature, so I wasn't sure if getting around CORS was only a temporary fix in my problem and didn't serve the bigger picture.

[2016-06-26 20:04] Klortho commented on #45
Oh, right. Well, this is purely in the transport layer -- nothing to do with D3.

[2016-06-30 03:39] eweitz commented on #45
@ProjectProgramAMark, can you try the following workaround?  It [required](http://eutils.ncbi.nlm.nih.gov/entrez/eutils/einfo.fcgi?retmode=json) much [sleuthing](http://eutils.ncbi.nlm.nih.gov/entrez/eutils/einfo.fcgi?retmode=json&db=gencoll) to determine, but the method described below gets all data from EUtils, and thus should avoid the CORS issue.

I quickly checked via browsing EUtils API resu

[2016-06-30 03:59] eweitz commented on #45
Thanks for the pull request, @Klortho, but @ProjectProgramAMark is correct: I would really prefer this feature to require no server-side code or configuration.  This feature should work with a primitive, traditional web server stack, e.g. on a static web page served by Apache or Nginx.

I wonder if the lack of an `Access-Control-Allow-Origin` HTTP header in https://ftp.ncbi.nlm.nih.gov is a matter

[2016-07-06 23:50] eweitz commented on #45
@ProjectProgramAMark, if you are still interested in this, please let me know.  Otherwise I will begin wiring up data retrieval for this in about a week.

[2016-07-07 00:16] ProjectProgramAMark commented on #45
@eweitz I am still working on it. I'm almost finished!

[2016-07-07 01:13] ProjectProgramAMark commented on #45
@eweitz Where would be the ideal place/file to place this script in?

[2016-07-07 04:12] eweitz commented on #45
@ProjectProgramAMark, what you have in [d3test/public/index.html](https://github.com/ProjectProgramAMark/d3test/blob/03a24defc1726940118affad8cfd860a8dec09a5/public/index.html) is a good start.  I recommend continuing that path, perhaps in a fork of this repository.  Once you can return names and lengths for chromosomes given only a scientific name like *Plasmodium falciparum* -- i.e. without hard

[2016-07-08 22:08] ProjectProgramAMark commented on #45
@eweitz my script should be working now. pull my [repo](https://github.com/ProjectProgramAMark/d3test) and cd into the directory, run "npm start" and click on the button.

[2016-07-08 23:10] eweitz commented on #45
@ProjectProgramAMark, your data retrieval code looks good so far!   Thanks for those instructions.  I verified that [your current `getChromosomes(organismName)` function](https://github.com/ProjectProgramAMark/d3test/blob/982d01a0c9692ecad703824e67e1c1edac5f4d5f/public/javascripts/eukaryotes.js) gets chromosome lengths and names for *Plasmodium falciparum*.

I think the next step is to begin integ

[2016-07-09 00:49] ProjectProgramAMark commented on #45
@eweitz ok done! Let me know what you want to change.

[2016-07-23 00:40] eweitz opened #52 "Upgrade to D3 version 4"

[2016-07-23 16:46] ProjectProgramAMark commented on #45
@eweitz any time estimation on when this will be finished?

[2016-07-24 00:48] eweitz commented on #45
I hope to have a basic version of this available in a week or two.

[2016-07-25 02:49] #52 closed

[2016-08-06 22:53] ProjectProgramAMark commented on #45
@eweitz any progress?

[2016-08-07 12:57] mrouard commented on #47
@eweitz just to let you know that we will take care of this feature with @zeleniy
I hope it will be compatible with your plans

[2016-08-09 01:43] eweitz commented on #45
@ProjectProgramAMark, yes, slowly but steadily.  Integrating the data retrieval code into the larger Ideogram library turned out to require major work that cut across more aspects of Ideogram than expected.  See #54 for details.

I'm now beginning on the rendering task of this feature.  I will ping you when it's done.

[2016-08-09 03:09] eweitz commented on #47
@mrouard, excellent!   Thanks for letting me know.  I see progress is being made in https://github.com/zeleniy/ideogram.  The [fork's issues list](https://github.com/zeleniy/ideogram/issues/5) is informative.

Ploidy support for organisms generally depends on support for eukaryotes (#45).  I'm roughly half done with that.  The plan is to keep configuration extremely simple, e.g. as in [examples/wo

[2016-08-16 04:00] eweitz commented on #45
@mrouard, @ProjectProgramAMark, rough basic rendering of some arbitrary eukaryotic genomes is in place in the development branch https://github.com/eweitz/ideogram/tree/render-eukaryotic-chromosomes.

That branch can retrieve chromosome data for e.g. *Plasmodium falciparum* (malaria parasite), *Caenorhabditis elegans* (worm) and *Musa acuminata* (banana) given only the organism's scientific name.

[2016-08-16 04:05] eweitz commented on #47
@mrouard, see [this comment in #45](https://github.com/eweitz/ideogram/issues/45#issuecomment-239995407) for an update on support for all eukaryotes.  That feature will provide a foundation for ploidy support in e.g. banana, wheat, and coffee.

[2016-08-16 12:28] zeleniy commented on #47
Hello @eweitz. I am trying to create a native JavaScript bands description for banana (Musa acuminata). Actually i do not need bands i just want to draw chromosomes. I have a [tsv file](https://github.com/zeleniy/ideogram/files/405523/ideogram_banana_v0.1.tsv.txt) with basic data about chromosomes arms length. I wrote a simple [php script](https://github.com/zeleniy/ideogram/blob/gh-pages/scripts/

[2016-08-16 13:29] eweitz commented on #47
Hi @zeleniy.   At a glance, I suspect your centromere rendering issue is caused by code around [line  933](https://github.com/zeleniy/ideogram/blob/06a841e612e03e92cbccbe5010a27d85be2005ac/src/js/ideogram.js#L933) and [line 1011](https://github.com/zeleniy/ideogram/blob/06a841e612e03e92cbccbe5010a27d85be2005ac/src/js/ideogram.js#L1011) that renders pericentromeric bands in the `drawChromosome` met

[2016-08-24 12:59] eweitz commented on #45
The rendering of eukaryotic chromosomes is significantly better than it was last week.  I've also replaced the worm.html example with something more expansive, [examples/eukaryotes.html](https://github.com/eweitz/ideogram/blob/43935b21d4f92efe2dc9dde1ce5f260ac4a91885/examples/eukaryotes.html).

My next task is to fix the failing automated test suite.  As before, the place to follow progress is htt

[2016-08-28 20:52] eweitz commented on #45
This feature is done.  Support for eukaryotes can be found at:

https://eweitz.github.io/ideogram/eukaryotes.html

[2016-08-28 20:52] #45 closed

[2016-08-28 22:20] eweitz commented on #36
Resolving, as this has been addressed for some time.

[2016-08-28 22:20] #36 closed

[2016-08-29 01:49] eweitz commented on #47
@mrouard, @zeleniy, support for all eukaryotes (#45) is now implemented.  That should significantly simplify configuration needed to support various ploidy renderings for any eukaryote.

See my previous comment for an example of a generic banana (Musa acuminata) ideogram configuration.  More eukaryotes: http://eweitz.github.io/ideogram/eukaryotes.html.

[2016-08-30 15:52] mrouard commented on #47
thank you @eweitz  for keeping us posted. We will complete the ploidy feature and will pull request soon.

[2016-08-30 15:56] mrouard commented on #45
Looks great @eweitz

Looking at some examples, there is like a bug display
https://eweitz.github.io/ideogram/eukaryotes.html?org=arabidopsis-thaliana

There is like a very small additional chromosome. same for maize, rice and grape.

[2016-08-31 01:16] eweitz opened #56 "Support mitochondrial and chloroplast chromosomes"
Improve handling of chromosomes in mitochondrion (chrMT) and chloroplast (chrCP).  Currently chrMT is never shown, and chrCP is shown but unlabeled.

These molecules pose visual design challenges:

1.  chrMT and chrCP are often a few orders of magnitude shorter than nuclear chromosomes
2.  chrMT and chrCP are circular

Challenge 2 will be handled later.  For this issue, address challenge 1, provid

[2016-08-31 01:18] eweitz commented on #45
Thanks for noting that problem, @mrouard.  I've opened issue #56 to address it.

[2016-09-04 15:09] eweitz commented on #56
Support for non-nuclear chromosomes is now available:

* https://eweitz.github.io/ideogram/eukaryotes.html?org=pan-troglodytes
* https://eweitz.github.io/ideogram/eukaryotes.html?org=zea-mays
* https://eweitz.github.io/ideogram/eukaryotes.html?org=oryza-sativa

To enable it, include `showNonNuclearChromosomes: true` in the Ideogram constructor.

When non-nuclear chromosomes are extremely small (<

[2016-09-04 15:09] #56 closed

[2016-09-06 00:44] eweitz opened #58 "Display centromeres for eukaryotes"
Enhance Ideogram so that it displays centromeres for eukaryotic chromosomes.

Pericentromeric bands are already available for human and mouse.  This feature requires retrieving data for centromere gaps in genome assemblies for all eukaryotes that have such data, and rendering those centromeres.

[2016-09-21 09:31] mrouard commented on #47
Hi @eweitz,

We are making progress with @zeleniy on this feature.
You can have a look [here](https://zeleniy.github.io/ideogram/examples/polyploid.html) and [here ](https://zeleniy.github.io/ideogram/examples/rearrangements.html)

There are still some issues to fix and a merge with current code of the your version but we hope it can be a interesting pull request for ideogram.

Please let us know

[2016-09-23 03:20] eweitz commented on #47
@mrouard, @zeleniy, the example at https://zeleniy.github.io/ideogram/examples/polyploid.html looks like a good start in terms of UI.  Thanks for your work so far!

To merge your new feature into this repo, after fixing any regressions in existing examples, please:
* Create a new feature branch named `ploidy` in `zeleniy/ideogram`.
* Pull from [eweitz:ploidy](https://github.com/eweitz/ideogram/tre

[2016-10-31 16:52] zeleniy commented on #47
Hello @mrouard, @eweitz. I have finished with merging our changes with original master branch. Last two [examples](https://zeleniy.github.io/ideogram/examples/) demonstrate library new features:
* [Ploidy basic example/functionality](https://zeleniy.github.io/ideogram/examples/polyploid.html)
* [Ploidy extended functionality](https://zeleniy.github.io/ideogram/examples/rearrangements.html)

While

[2016-11-01 12:42] eweitz commented on #47
@zeleniy, it's exciting to have this nearing completion!

Your two major changes beyond ploidy support help indicate where Ideogram.js could benefit in terms of understandability to other library developers.  The reorganization of code into finer-grained modules is a reasonable first draft.

To digest your large upcoming pull request, I plan to address its concerns one at a time.  I see those sepa

[2016-11-02 14:31] zeleniy commented on #47
Cool. I have done pull request.

[2016-11-12 16:49] eweitz opened #60 "Distortion upon rotating small chromosomes"
Relatively small chromosomes get distorted upon rotation.  Fix the distortion while preserving the animated transition between rotated states (e.g. between whole-genome and single-chromosome views).

For example, click chr21 in http://eweitz.github.io/ideogram/human.html and notice horizontal stretching.  This affects at least the border stroke at telomeres and centromere, and the space between pa

[2016-11-14 13:52] eweitz commented on #58
This was implemented by #61.

[2016-11-14 13:52] #58 closed

[2016-11-16 13:29] eweitz opened #62 "Rows misaligned in multi-row layout"
In most ideograms that are vertically oriented and have multiple rows of chromosomes, the rows are misaligned.  Each row gets horizontally shifted, such that its chromosomes are not vertically flush with chromosomes in the row above.

This affects small layouts for all organisms.  It also affects organisms with many chromosomes in larger layouts, as in this example with dog (Canis lupus familiaris

[2016-12-19 11:23] mrouard commented on #47
Hi @eweitz,

Are you considering adding new examples on the ideogram page like we did here?
https://zeleniy.github.io/ideogram/examples/

[2016-12-19 13:48] eweitz commented on #47
@mrouard, yes, I will add the new ploidy-related examples once I finish integrating `eweitz:ploidy` into into `eweitz:master`.  That requires restoring unit tests, and I am also refining the architectural changes included in the ploidy feature work.  I am to have that public within two weeks.

[2016-12-19 20:15] mrouard commented on #47
Thank you @eweitz. I think Ideogram is now generic for nay type of organism and could be a nice tool for an application note in some scientific journal. Is this something in your plan ?

[2016-12-20 02:29] eweitz commented on #47
A journal publication might be feasible in 2017.  For the next few months, though, my focus will be on development.  I will let you know when I begin drafting a manuscript!

[2017-01-05 13:39] #47 closed

[2017-01-05 16:32] mrouard commented on #47
I am really glad to see them there! :)

Thanks @eweitz for including our ideas and implementation in your nice library.

[2017-02-23 21:49] Lenbok opened #66 "processAnnotData doesn't handle missing or unrecognized chromosomes"
(I found your project yesterday, and it's quite cool!)

The parsing code in processAnnotData looks like it's stashing the reported chromosome contained in the input rawAnnots, however whatever is making use of the resulting data seems to ignore the chromosome name and just assume the annots entries are present for every chromosome in order.

For example, with the following my-test.json annotation

[2017-02-24 05:11] eweitz commented on #66
Good catch!  I have a hunch on how this could be fixed (involving [sortChromosomes](https://github.com/eweitz/ideogram/blob/3addf625bf16d6722bf6907fdf0d9f1626a4fac2/src/js/core.js#L1769)), and suspect the fix can be released with the new "overlayspan" layout (#65).

I'm looking into this, and will update here this weekend.

[2017-02-24 05:34] eweitz commented on #66
That's not supported at the moment, but it's been on my mental backlog for a while.  I'll plan to investigate that after resolving this issue and #65.

Could you open a new issue for supporting multiple ideograms in one page, with any further details you think are relevant?

[2017-02-27 00:41] Lenbok commented on #66
Hey cool! I see you've been busy over the weekend!! Nice stuff. I'll open that issue regarding multiple ideograms on the same page. Cheers!

[2017-02-27 00:43] Lenbok opened #68 "[RFE] Ability to display multiple ideograms on one page"
In some cases we might want to compare ideograms for multiple samples at once, and currently it does not seem possible. At the moment our use case is for quick comparisons of gross structural variant differences at the outer level rather than needing any zoom capability.

[2017-02-27 01:22] eweitz commented on #66
Thanks, I'll follow up re multiple ideograms over in #68.

This issue with `processAnnotData` has been fixed.  Details: #67.

[2017-02-27 01:22] #66 closed

[2017-02-27 04:13] eweitz commented on #68
@Lenbok, an initial implementation of this is now available, along with examples.

Further details, screenshots in #69.  Feedback welcome!

[2017-02-27 04:13] #68 closed

[2017-02-27 10:12] mrouard commented on #68
Hi @eweitz
This is a nice addition. Would it work for the polyploid examples too?

[2017-02-27 13:42] eweitz commented on #68
Good question, @mrouard.

This week, I aim to wrap up some [enhancements for ploidy support](https://github.com/eweitz/ideogram/tree/enhance-ploidy) that I began before implementing Len's suggestions.  I will include an example of multiple polyploid ideograms in one page.

[2017-02-28 16:18] mrouard commented on #68
that's good to know. Thanks!

[2017-02-28 20:29] Lenbok commented on #68
@eweitz I got a chance to try this out yesterday, and it looks great, thanks!

[2017-03-05 05:10] awatson1978 opened #70 "ES6 (ES2015) export"
Eric!  Awesome work!  Thank you so much for publishing this.

Have you given any thought to exporting the `Ideogram` object as an es2015 module?  I just managed to get it loaded up into a Meteor/React app, and it works wonderfully.  Kudos!  The one caveat is that I needed to glob all the contents of `ideogram.js` into a custom .jsx file with an es2015 export statement.  That's going to cause my im

[2017-03-05 05:15] awatson1978 opened #71 "documentation PR?"
Hi,
Would you take a PR with some documentation to the readme if I submit one?  I'm up and running and would be happy to take some notes as I fine tune things, and contribute them back.

[2017-03-05 05:25] awatson1978 opened #72 "How is the reference data being generated?"
Hi again,
So, everything is going swimmingly, and I think I've got this all sorted out so a user can upload and display their 23andMe data.

Question:  the reference data.  How is it being generated?  I'm currently taking an Intro to Genomics class, and we've been covering `.sam`, `.bam`, `.vcf`, `.bed`, and `.fastq` files.  But I'm having a bit of trouble following what's going on in the `/data`

[2017-03-05 13:17] eweitz commented on #71
@awatson1978, I am indeed open to accept pull requests, including for documentation.

A prime goal of mine with Ideogram has been to make usage on a web page as simple as possible.  Per #70 it sounds like you're using Ideogram with Meteor and React.  Those are important web contexts, and I'm sure your notes would be helpful!

[2017-03-05 13:25] eweitz commented on #70
Hello Abigail!  Thanks for your interest.

Not yet, but that seems worthwhile.  I am on the cusp on wrapping some enhancements to ploidy support; after that, I will work on exporting Ideogram as an ES2015 module.

[2017-03-05 15:35] eweitz commented on #72
In brief, the reference data ultimately comes from the National Center for Biotechnology Information ([NCBI](https://www.ncbi.nlm.nih.gov/)).  Ideogram's dataflow scripts simply download and transform public data from NCBI.

Further details are below, if you're interested.

The reference chromosomes fall into three categories of decreasing resolution: those with cytogenetic band data, those with c

[2017-03-05 15:56] eweitz commented on #72
[That file](https://github.com/eweitz/ideogram/blob/7d94b5a3b230de68b5f51ab0154cbdb54b57a952/data/annotations/10000_virtual_snvs.json) is actually just a set of virtual, i.e. simulated, single nucleotide variations (SNVs) that are randomly distributed throughout the genome.  It's basically test data, generated by [create_annots.py](https://github.com/eweitz/ideogram/blob/ca64a3c51e1b5ecaae89d2422f

[2017-03-06 21:04] awatson1978 commented on #71
Awesome.  I'll start with documenting the config options then.  I've got a final project in my Genomics class due on the 15th; so expect something between now and then.

[2017-03-06 21:17] awatson1978 commented on #70
Oh, that would be great.  From what I can gather, the biggest change would be in pointing the package.json `main` field to an `index.js` instead of `gulpfile.js`.

[code]

 It's pretty common pattern to have the index file then include and export the various files in the package.
[code]

At 3,000+ lines, it might be worth spliting up ideogram.js into:
[code]

And then just export the object.  Ther

[2017-03-06 21:21] awatson1978 commented on #72
Hmmm....  going to have to think through this, and consult with my professor.  I may have overstated having gotten the 23andMe data completely working.

I definitely got a `.bed` file loaded into it, and have effectively defined a genomics test panel:

![screen shot 2017-03-06 at 2 27 07 am](https://cloud.githubusercontent.com/assets/675910/23630341/66c1ee5a-0280-11e7-847e-1ee31fb7a9e7.png)

Now I

[2017-03-07 04:43] eweitz commented on #72
Awesome!  It sounds like you are well on your way.

One thing to note: [23andMe uses GRCh37](https://customercare.23andme.com/hc/en-us/articles/202907620-Which-reference-genome-does-23andMe-use-), the previous major version of the human reference genome assembly.  However, Ideogram [defaults](https://github.com/eweitz/ideogram/blob/b98849ac8335a5816022f5d5d909ad76f6db160d/src/js/core.js#L166) to G

[2017-03-07 04:48] eweitz commented on #70
Thanks, that's helpful guidance.

[2017-03-11 22:48] eweitz commented on #68
@mrouard, an example of that is now available at http://eweitz.github.io/ideogram/multiple_trio.html.  Details: #73.

[2017-03-16 11:00] mrouard commented on #68
@eweitz it looks very nice! thanks.

[2017-05-10 13:40] adack123 commented on #34
@eweitz Is this something that is under active development? I would definitely be interested in this feature, as well as maybe a description that could go with the label. Let me know if you need anybody to work on this, I'd be open to it.

[2017-05-11 02:54] eweitz commented on #34
@adack123, this feature is not under active  development.  If would you like to work on it, that would be great!

Just so you're aware, Ideogram.js is undergoing a transition to use ES6 exports and classes.  Details are in #70 and development is in [eweitz:es6-export](https://github.com/eweitz/ideogram/tree/es6-export).  Nevertheless, I recommend branching off the current pre-ES6 version in `eweit

[2017-05-11 02:58] #72 closed

[2017-05-11 03:28] eweitz commented on #70
I've been working on this in [eweitz:es6-export](https://github.com/eweitz/ideogram/tree/es6-export).  While developing support for the new standard module syntax, I have also been updating Ideogram to use ES6 / ES2015 class syntax, and generally improving internal documentation and code styling.  It's a significant internal migration for Ideogram.

The work is roughly 75% done.  I've got the new

[2017-07-14 00:26] gaitat opened #74 "Cite ideogram.js"
How do we cite this work?

[2017-07-18 02:45] eweitz commented on #74
@gaitat, for now please cite this work along the lines of the following:

Weitz, Eric M. Ideogram.js.  2015.  https://github.com/eweitz/ideogram.

[2017-07-18 02:45] #74 closed

[2017-07-18 02:56] eweitz commented on #74
Also, @gaitat, would you mind if I asked where you are using Ideogram.js?  Concrete usage examples from other people help me prioritize where I focus development.

[2017-07-19 02:19] eweitz commented on #74
A work related to Ideogram.js, also citable:

Weitz, Eric M.; Pantano, Lorena; Zhu, Jingzhi; Upton, Bennett; Busby, Ben.  [Viewing RNA-seq data on the entire human genome](https://f1000research.com/articles/6-596/v1). F1000Research 2017, 6:596

[2017-07-19 22:18] gaitat commented on #74
I am not using it per se. I am reference it in a paper I am writing.

[2017-07-24 12:40] eweitz commented on #70
@awatson1978, Ideogram is now exported as an ES2015 module.

Installation:
`npm install ideogram`

Import:
`import Ideogram from 'ideogram';`

You can still also load Ideogram directly from a script tag, as seen in the [examples](https://eweitz.github.io/ideogram/).

[2017-07-24 12:40] #70 closed

[2017-08-20 20:12] eweitz commented on #71
@awatson1978, some documentation has been added to the README since we discussed this.  I am starting more detailed configuration and API documentation now.  I'll note here when that's done!

[2017-08-21 02:33] eweitz commented on #71
See the new [Ideogram API reference](https://github.com/eweitz/ideogram/blob/master/api.md) for documentation on configuration options and methods.  Pull requests to improve that are welcome.

[2017-08-21 02:33] #71 closed

[2017-08-29 07:45] pmoulos opened #77 "line-height css property in body tag may mess themes"
Hi @eweitz ,

First of all, thanks for the magnificent work you 've done with ```ideogram.js```. Something like this was really missing.

An issue that I've just spotted (may not a real issue) is that in ```ideogram.css``` stylesheet you assign the line-height property as ```line-height: 19.6px;``` in the whole body element. This may override other styling themes (it happened in my case and create

[2017-08-29 12:41] eweitz commented on #77
Hi @pmoulos, thanks for the kind words!

You're right that the line-height style rule was too broad.  Coincidentally, I [fixed that yesterday](https://github.com/eweitz/ideogram/commits/master?after=b701dc0b76089842d50860c8c6cf5aa6d8dec564+0) in `master`.  Ideogram no longer requires importing CSS files -- the style rules are now embedded in the SVG element.  This simplifies Ideogram setup for dev

[2017-08-30 12:26] pmoulos commented on #77
Yes, it works out of the box now (I just removed the offending CSS before with no significant impact to the chromosome views, at least for my case). Thanks for your help!

[2017-08-30 12:26] #77 closed

[2017-09-10 03:58] wangtulao opened #78 "ideogRam R htmlwidget package"
Hi Eric,

I have initialized an R htmlwidget package for ideogram. [https://github.com/wangtulao/ideogRam], and so far I'm able to reproduce some simple examples.

But the main issue in the current R package is that, the R generated html file or js lib, cannot automatically find/load the "data/" folder, e.g. importing band, then, as a temp fix, I have to manually copy "data/" to the corresponding

[2017-09-10 16:21] eweitz commented on #78
Wow, Freeman!  [ideogRam](https://github.com/wangtulao/ideogRam) looks like a promising R wrapper for Ideogram.js.  @seandavi had suggested that I do something like this a while ago, but I have no experience with R.  I'm glad you've taken this on, @wangtulao!

I suspect that issue is addressed by the newest version of Ideogram.js, [v0.9.0](https://github.com/eweitz/ideogram/releases/tag/v0.9.0), r

[2017-09-11 20:46] wangtulao commented on #78
Awesome, you are right! dataDir issue is fixed by using the latest Ideogram.js v0.9.0. Now my basic examples work in Shiny! Your update is just in time. =)

I have 2 questions:

1. Is there a quick way to pass/assign an id for Ideogram object, in this wrapper htmlwidget js [code] (https://github.com/wangtulao/ideogRam/blob/master/inst/htmlwidgets/ideogRam.js)? Since htmlwidgets will automatically

[2017-09-12 00:13] eweitz commented on #78
Check out the use of [`container`](https://github.com/eweitz/ideogram/blob/master/api.md#container) in the [Multiple, trio](https://eweitz.github.io/ideogram/multiple_trio.html) or [Multiple, primates](https://eweitz.github.io/ideogram/multiple_primates.html) examples.  This property specifies the CSS selector of the HTML element that will contain the ideogram.

So if you're trying to create multi

[2017-09-12 00:22] eweitz opened #79 "Support loading native annotations via remote annotationsPath"
[A question](https://github.com/eweitz/ideogram/issues/78#issuecomment-328653465) from @wangtulao revealed the need to load natively-formatted annotations via remote URL in `annotationsPath`.  Currently, Ideogram.js [assumes](https://github.com/eweitz/ideogram/blob/7ce4cd67a2d74b6ce2f70b7982cb0f7fcfdcf515/src/js/core.js#L1175) any such remote paths are for BED files.  Revise that assumption.

[2017-09-12 03:49] eweitz commented on #78
@wangtulao, I just improved support for specifying `annotationsPath` as a remote URL, e.g.:
[code]
You can try this by pulling [ideogram.min.js@0a30fd6](https://github.com/eweitz/ideogram/blob/0a30fd6eddd52d1475f56f067bda8d5d94d369c3/dist/js/ideogram.min.js) into ideogRam.

Re-reading your question, I'm not confident this will solve your issue, but it's worth a try.  It seems you might want a new

[2017-09-12 06:04] wangtulao commented on #78
Thanks a lot @eweitz for pointing me the container solutions. It seems to work! Now I can host multiple ideogram viz in Shiny.
![image](https://user-images.githubusercontent.com/1614226/30309808-3fa109d0-975b-11e7-9cb9-714c363baf53.png)

Also, annotationsPath's new url input feature works well in ideogRam! You are awesome. While considering the case of local usage, I may still figure out another w

[2017-09-16 15:50] eweitz commented on #79
Done.  Example:

[code]

[2017-09-16 15:50] #79 closed

[2017-09-25 13:53] KyleGao opened #81 "Display assembly hg18"
I am trying to have plots in hg18, and I tried a couple of values for parameter assembly:
hg18, NCBI36, GCF_000001405.12,
none of them worked.

What's the proper way of doing it?

[2017-09-26 02:28] eweitz commented on #81
@KyleGao, I just implemented support for that old human reference genome assembly.  You can get it in the freshly-released Ideogram.js v0.11.0.

Example:
[code]

[2017-09-26 02:28] #81 closed

[2017-09-26 02:42] eweitz commented on #78
@wangtulao, I just released Ideogram.js v0.11.0 with streamlined configuration for your use case (and many other embedding contexts).  You should now be able to omit `dataDir` in your configuration.

Ideogram.js now fetches data from a public CDN unless A) `dataDir` is explicitly set or B) the embedding web app is hosted on `localhost` or `127.0.0.1` per the browser address bar.

I plan to augment

[2017-09-26 02:42] #78 closed

[2017-09-30 04:11] cshukai opened #82 "base pair out of range"
Hello! Thanks so much for this d3-based visualization software. Our group loves it.  I downloaded the karyotype (Ensemble) and centromere (UCSC) information for Maize and process the karyotype file in the same way implemented in [convert_band_data.py](https://github.com/eweitz/ideogram/blob/db7c52f18cbed3e368fe7d63de4811d7c1db8bc6/scripts/convert_band_data.py#L111).

But I continue to get the foll

[2017-09-30 16:06] eweitz commented on #82
Hi @cshukai, interesting issue.

Could you attach that processed data?  I'd like to be able to reproduce the problem.

The core.js file is loaded from the same server as ideogram.min.js, but it's loaded via source maps with a non-standard protocol (`webpack://`).

And although you can't easily print messages from core.js to console, you can set [breakpoints](https://developers.google.com/web/tools

[2017-10-01 04:55] cshukai commented on #82
I appreciate the help , @eweitz.  I am attaching the files including the karyotype, centromere and the array in js file as the input for ideogram program.
[Archive.zip](https://github.com/eweitz/ideogram/files/1346929/Archive.zip)

Thanks for explaining illustrating webpack!  it is very nice to know that!

[2017-10-02 00:24] eweitz commented on #82
@cshukai, I haven't been able to reproduce your problem.  I unzipped Archive.zip, copied maize.js into /dist/data/bands/native, and put the following HTML in a file named maize.html in the examples folder.

[code]

The rendering of the maize genome that I see has some peculiarities -- e.g. extremely long chromosomes, no visible banding -- but I don't see the "Base pair out of range" error you repo

[2017-10-02 03:16] cshukai commented on #82
Thanks for looking into that. Here is the html file (modified from annotation.histogram.html in example):
[code]
Initially, I renamed banana.js to maize.js and the process didn't run into the issue of out of range and chromosome lengths seemed fine.

Maize Karyotype was downloaded from [Ensemble'sFTP site(http is used here for markdown to display hyperlink )](http://ftp.ensemblgenomes.org/pub/plan

[2017-10-07 18:09] eweitz opened #83 "Expand support for cytogenetic bands"
Increase the number of genomes that can display cytogenetic bands.

Currently, Ideogram.js has cytogenetic bands for human, mouse, and rat.  That data comes from NCBI's Ideogram Service FTP site, ftp://ftp.ncbi.nlm.nih.gov/pub/gdp/.  It is converted into a format used by Ideogram.js in [convert_band_data.py](https://github.com/eweitz/ideogram/blob/c4e7093cdb50e906645b14a8547c683044b4aa68/scripts/c

[2017-10-07 18:11] eweitz commented on #82
Very helpful!  I will resolve this particular issue with maize as part of generally [expanded support for cytogenetic bands](https://github.com/eweitz/ideogram/issues/83).

[2017-10-07 21:21] cshukai commented on #82
Thanks so much !! @eweitz

If there is anything I can help with the expansion, please let me know.

[2017-10-30 07:52] 6br opened #84 "Request: Brush on multiple chromosomes"
Hello, I am grateful to this library!

I would appreciate it if you would add a support for brush on multiple chromosomes since I would like to provide an interface to select the position from multiple chromosomes. My request is below.

* Switch a brush to each chromosome on drawing multiple chromosomes.
* Option to draw multiple chromosomes not only in ascending order but also in the specified or

[2017-10-30 23:11] eweitz commented on #84
@6br, thanks for these feature requests.  I'll give your proposals a closer look once I'm done expanding support for cytobands (#83), likely within a few weeks.

In the meantime, if you could describe use cases for these potential enhancements, that would help me prioritize my work.  I also accept pull requests!

[2017-10-30 23:22] eweitz commented on #83
This work is proceeding steadily.  You can track it in the [more-cytobands](https://github.com/eweitz/ideogram/tree/more-cytobands) branch.

[2017-11-01 09:42] 6br commented on #84
@eweitz, thanks for your reply!

My use cases are following.

* To select genomic variations in *human*:

In this case, annotations mean genes, SNPs or SVs, which is shown on each track. Here, I have already selected some chromosomes by annotations of genes such as related to cancer or metabolic pathway.

1. The karyotypes of selected chromosomes are shown and they should be aligned in the order o

[2017-11-09 12:26] KyleGao opened #85 "Request: histograms on both sides of the chromosome."
Thank you for this great tool, I'm using histograms to get overviews of data.

I want to have histo-bars on both sides of a chromosome with different colors.
Is it possible to do? If not, can you add this option?

[2017-11-09 12:39] eweitz commented on #85
@KyleGao, that's not currently possible, but would be a nice feature.  If you could describe concrete use cases, that would help me prioritize this work.

[2017-11-09 14:09] KyleGao commented on #85
For example, I want to plot the mutation distribution of both insertions and deletions of a chromosome.
By having histograms on both sides, it would be very intuitive to get an overview of both the type and frequency of mutations of different regions.

Would it be a feasible option to specify the side of the layout?

Something like this:
![example](https://user-images.githubusercontent.com/2047753

[2017-11-29 18:14] akvallejos opened #86 "Problem Displaying Rat Chromosomes"
Hi I am trying to do a compartive mapping between Rat and Human. However, following the examples only Human chromosomes appear. If I restrict the code to displaying only a single species, I can get either Human or Rat to appear.

Here is the snippet from the script:
`
let config = {
organism: ["human","rattus-norvegicus"],
chromosomes: {"human" :["1", "6"], "rattus-norvegicus":["13","20"]}
};

let

[2017-12-04 04:35] eweitz commented on #82
@cshukai, can you still access the centromere data from Genomaize?  I implemented support for maize karyotype and centromere data, and had it working locally, but it has since regressed.

It seems Genomaize updated their backend some time in November, and now I can no longer retrieve centromere data from [here](http://genomaize.org/cgi-bin/hgTables?hgsid=11202_TdAsMQtX6Axn6C6RXjKHdnZEA1TZ&clade=mo

[2017-12-05 04:17] eweitz commented on #86
Hi @akvallejos.  Thanks for bringing this issue to my attention.  I've confirmed it.

The perspective you're using is currently limited to human-human, mouse-mouse, or human-mouse.  Addressing your use case will require more generic support for comparative genomics in that particular view.

Given my time constraints, other ongoing work, and the complexity of this issue, I will likely have it resol

[2017-12-12 03:25] eweitz commented on #82
@cshukai, your original request has been implemented in Ideogram.js 0.13.0.  See  https://eweitz.github.io/ideogram/eukaryotes.html?org=zea-mays.

Screenshot:
<img width="790" alt="maize_ideogram_with_centromeres" src="https://user-images.githubusercontent.com/1334561/33865953-0e9ce508-dec2-11e7-9ab3-e50680a9b6d7.png">

[2017-12-12 03:25] #82 closed

[2017-12-12 03:37] eweitz commented on #83
This is done in Ideogram.js v0.13.0.  See #83, #87, and release notes [here](https://github.com/eweitz/ideogram/releases/tag/v0.12.0) and [here](https://github.com/eweitz/ideogram/releases/tag/v0.13.0) for more details.

[2017-12-12 03:37] #83 closed

[2018-01-27 06:22] jimlund opened #89 "How to build?"
I'm trying to add mouseover to ideogram, and build it minimized.

After:
npm install ideogram
and
npm install webpack

I tried to run webpack --optimize-minimize
and get this error:

[code]

So how should this be built minimized?

Cheers,

Jim

[2018-01-27 13:07] eweitz commented on #89
@jimlund, try:
[code]

Once your mouseover is added and your build passes tests, I'd be happy to review a pull request!

[2018-01-28 18:22] #89 closed

[2018-01-29 08:03] desnar opened #91 "Problem displaying selected chromsome region in brush mode"
Hi, I'm trying to show gene mark on chrom with brush function, but I find it shows a wrong region.
I set a anno region 17:43044294-43125482 and get the result in follonig picture:
![pic](https://user-images.githubusercontent.com/7296885/35499390-0e506752-050d-11e8-8127-542a610e7517.png)
The mark is selected but the region doesn't overlap 17:43044294-43125482

Here is my html code
[code]
Thanks!

[2018-02-03 14:53] eweitz commented on #91
@desnar, thanks for reporting this issue.  I've confirmed the bug it and will update here when it's fixed.

[2018-02-19 01:53] eweitz commented on #91
@desnar, this is fixed in the new [v0.15.0](https://github.com/eweitz/ideogram/releases/tag/v.0.15.0) release.  Please let me know if it works for you!

[2018-02-19 01:53] #91 closed

[2018-02-19 01:56] eweitz commented on #84
This is implemented in the new [v0.15.0](https://github.com/eweitz/ideogram/releases/tag/v.0.15.0) release.  See [Brush](https://eweitz.github.io/ideogram/brush) for an example.

[2018-02-22 06:25] desnar commented on #91
It works. Thanks!

[2018-03-25 18:21] Tim-Yu opened #96 "Problem calling multiple times on one page"
Hi, I noticed when I call multiple time on one page, the previous calling will limit the plotting for the next calling.

[code]
On the second plotting, the chromosome length seemed to be restricted by the previous setting.
![a](https://github.com/Tim-Yu/MarkdownPic/blob/master/ex1.png?raw=true)
![b](https://github.com/Tim-Yu/MarkdownPic/blob/master/ex2.png?raw=true)

[2018-03-26 02:33] eweitz commented on #96
Thanks for the detailed bug report, @Tim-Yu.  A fix is on master, and will be deployed with the next release.

[2018-03-26 02:33] #96 closed

[2018-04-16 13:34] eweitz opened #99 "Fetching remote band data can fail due to CDN rewriting query string"
Fetching remote band data fails in Ideogram.js 1.1.0 using the default CDN, unpkg.com, because the CDN strips query string parameters.  This bug does not manifest locally or in unit tests, but breaks the examples hosted externally on GitHub Pages.

The cause was an updated approach of getting cytogenetic band data in version 1.1.0.  That version used query string parameters to associate a taxid (N

[2018-04-16 14:14] eweitz commented on #99
This is fixed and [v1.1.1](https://github.com/eweitz/ideogram/releases/tag/v1.1.1) has been released.  You can [review the fix here](https://github.com/eweitz/ideogram/compare/v1.1.0...v1.1.1#diff-ea08c109b6b099096379d648e74bdbc0).

[2018-04-16 14:14] #99 closed

[2018-07-26 16:32] cangfengzhe opened #101 "display more track"
wonderful tools.

whether  it can display multiple track(heatmap, histogram, overlay etc.) meanwhile.

[2018-07-27 01:45] eweitz commented on #101
Hi @cangfengzhe, thanks.  Ideogram currently only supports displaying one type of annotation layout in a given instance.  I will keep this open as a feature request.

[2018-08-28 15:02] matthewchan15 opened #104 "React Ideogram does not redraw organism when changed"
The issue is that the Ideogram doesn't redraw the organism, when the `organism` parameter is changed in both `React` and `vanilla` java script. For example if the `organism` is `'human'` and is changed to `'mouse`', it will still show the Ideogram graph of `'human'` still. I've been messing around with the Ideogram a lot trying to get this feature to work within react. It seems that other paramete

[2018-08-29 22:42] #104 closed

[2018-09-20 14:14] matthewchan15 opened #106 "Missing props in Ideogram API docs"
I've been trying to integrate all the props listed in the API [here](https://github.com/eweitz/ideogram/blob/master/api.md), into react. In order to test the props I've been using the example code found [here](https://eweitz.github.io/ideogram/). I've noticed a discrepancy where many of the props used in the example docs, are not listed in the API docs.

For example in [homology](view-source:https

[2018-09-28 16:47] azaa21 opened #107 "Use an exact position for annotation"
Greetings,

I want to ask about the possibility of using the exact position for annotation? because when I try to use it as it is without scaling as in [1], some positions are not presented and the whole annotation disappears.
Any idea how I can do that?

Example of positions that not fit with the chrs positions:
In chr9
{
            "chr": "9",
            "annots": [
                [

[2018-09-29 12:06] azaa21 commented on #107
Sorry this is different example and yes it works also with me.
Could you please try this example:
https://raw.githubusercontent.com/azaa21/ideogramTest/master/positions.json

I think the problem is with Chr9 positions, because once I replace it with the ones that in example pos.json it works well.

[2018-09-29 14:17] eweitz commented on #107
@azaa21, I get this error with your [positions.json](https://raw.githubusercontent.com/azaa21/ideogramTest/master/positions.json) file:

[code]

The message `Base pair out of range.  bp: 139911697; length of chr9: 138394717` reports that the genomic position of that annotation is out of range of chr9.

The cause of your issue is likely that Ideogram uses GRCh38 as the default genome assembly for h

[2018-09-30 14:37] #107 closed

[2018-10-02 16:09] eweitz commented on #106
@matthewchan15, good catch!  (And apologies for the delayed reply.)  I'll fix this as part of the upcoming release.

If you can list any other Ideogram configuration options that are missing from the API documentation, that would help.

[2018-10-03 20:17] matthewchan15 commented on #106
Sounds good, I'll update this issue with the missing properties, when I'm free.

[2018-10-04 14:19] matthewchan15 opened #108 "Question: Is it possible to load data locally into the Ideogram?"
I'm looking to load data locally into the Ideogram, for example if I wanted to load one of these files without using `dataDir`: https://github.com/eweitz/ideogram/tree/master/data/bands/ncbi

[2018-10-09 15:35] matthewchan15 commented on #106
Hey again, here are the following props I found to be missing:
* Ancestors
* AnnotationTracks
* fullChromosomeLabels
* perspective
* ploidyDesc
* rangeSet
* filterable

[2018-10-11 02:03] eweitz commented on #108
Yes, you can load data locally by providing a relative URL to [`dataDir`](https://github.com/eweitz/ideogram/blob/master/api.md#datadir) or [`annotationsPath`](https://github.com/eweitz/ideogram/blob/master/api.md#annotationspath).

The `dataDir` option handles band data. The `annotationsPath` option handles annotation data.  You can also define annotation data at runtime using the [`annotations`]

[2018-10-11 02:03] #108 closed

[2018-10-11 02:05] eweitz commented on #106
Thank you, Matthew!  I'll follow up here when this is fixed.

[2018-11-05 23:40] matthewchan15 opened #109 "Problem with on rotate of Ideogram, when in horizontal position."
The ideogram rotates and renders in a weird way on the rotation animation. This is evident in the sample examples as well, just click on a chromosome-> https://eweitz.github.io/ideogram/mouse

[2018-11-05 23:46] matthewchan15 opened #110 "Rotation animation for Ploidy and multiple Ploidy rendering issues"
I noticed an issue on rotation where the chromosome labels of the Ideogram over lap -> https://eweitz.github.io/ideogram/ploidy-basic

When rotating multiple Ploidy ideograms, there seems to be a glitch with displaying it. -> https://eweitz.github.io/ideogram/ploidy-rearrangements

[2018-11-06 01:37] eweitz commented on #109
By "on the rotation animation", do you mean during the rotation animation itself, or after it?

The animation itself was slightly degraded as a side-effect of https://github.com/eweitz/ideogram/pull/102, but that fixed a more significant issue with distortion after rotation.  If that isn't the issue you're describing, could you elaborate?

[2018-11-06 01:47] eweitz commented on #110
Yes, this has always been an issue.  Thanks for reporting it.  I'll disable rotation in those particular examples.

If app developers have a particular use case for rotating polyploid ideograms, then that would help motivate this enhancement.

[2018-11-06 09:30] matthewchan15 commented on #109
Sure. This is more directed towards the animation itself.

![ideogram](https://user-images.githubusercontent.com/33464965/48054798-4dee1900-e16b-11e8-9a9b-8a5565e7080c.gif)

[2018-11-06 12:07] eweitz commented on #109
Thanks for the recording; very helpful.

I suspect the problem here has more to do with the band labels than with the horizontal orientation.  Specifically, there is a brief but noticeable pause between when the rotation completes and when the chromosome and its labels are re-rendered.  @matthewchan15, if you see a different issue, please further clarify.

That pause between rotation completion an

[2018-11-06 12:46] #110 closed

[2018-11-07 12:50] eweitz commented on #104
This is fixed in `master` by https://github.com/eweitz/ideogram/commit/6cc82af5bf07cb396c9768ff63d822df6eb004fa.

[2018-11-10 20:56] ejblom opened #112 "Request: overlaying multiple colored annotations on one ideogram"
Hi

Your ideogram visualization looks very neat. I am looking into visualizations for genetic genealogy purposes. For that reason it would be very useful to color segments from multiple persons, for instance for similar regions:

https://famresearch.files.wordpress.com/2016/02/familytreedna-3-close-relatives-cf-to-kf.jpg?w=455

If multiple people match each other and share a segment of DNA on the

[2018-11-11 08:05] ejblom commented on #112
@eweitz , thanks for your quick reply. I only found the d3.js gallery and blown away with the very nice and different visualizations. If I continue with d3.js system I will most definitely be very interested in using your ideograms if they support multiple tracks. I would then only the segments that show some overlap (otherwise if you visualize all segments the picture gets very messy). Would be i

[2018-11-17 16:41] eweitz commented on #109
Oh, I see the issue now.  The moment before the rotation ends, the chromosome is truncated.

I welcome contributions to fix this; I probably won't get to it for a while.

[2018-11-18 16:15] eweitz commented on #106
Fixed:

* [ancestors](https://github.com/eweitz/ideogram/blob/master/api.md#ancestors)
* [annotationTracks](https://github.com/eweitz/ideogram/blob/master/api.md#annotationtracks)
* [fullChromosomeLabels](https://github.com/eweitz/ideogram/blob/master/api.md#fullchromosomelabels)
* [perspective](https://github.com/eweitz/ideogram/blob/master/api.md#perspective)
* [ploidyDesc](https://github.com/ew

[2018-11-18 16:15] #106 closed

[2018-11-19 03:33] matthewchan15 opened #115 "Annotation tooltips become displaced when user scrolls down"
Hi, I am using the latest master, and have noticed an issue with the annotations. It seems that when the user scrolls down, and hovers over an annotation, the annotation becomes displaced upwards. I created an test case you can try here: https://github.com/matthewchan15/ideo-test-case/tree/issue-annotations-multi (Render Issue Single).

Below is a GIF displaying the issue more clearly. I found tha

[2018-11-19 03:39] eweitz commented on #115
Hi @matthewchan15, thanks for spotting the recently-introduced bug in annotation tooltips.  I'd certainly welcome a PR that fixes it!

[2018-11-19 03:40] matthewchan15 opened #116 "Annotation tooltips appear behind ideogram when using multiple ideograms"
Hi, I am using the latest master, and have noticed an issue with the annotations. It seems that when the user hovers over an annotation on other Ideogram's besides the first one, the annotation shows up behind the ideogram. I created an test case you can try here: https://github.com/matthewchan15/ideo-test-case/tree/issue-annotations-multi

Below is a GIF displaying the issue more clearly. I found

[2018-11-19 03:49] eweitz commented on #116
Thanks for the report, @matthewchan15!  A PR to fix this bug with annotation tooltips would be appreciated.

[2018-11-19 03:50] matthewchan15 opened #117 "Band label rendering issue with multiple ideograms when using annotations"
The issue is that when using multiple ideograms, the band labels do not render properly. I suspect this is because the band label `SVG` are all sharing the same CSS class: `class="bandLabel bsbsl-<number>". You can see this in action, when the ideograms on the same row, take turns rendering improperly. I created a test case here for you to try: https://github.com/matthewchan15/ideo-test-case/tree/

[2018-11-19 04:00] eweitz commented on #117
Thanks for reporting the issue, @matthewchan15.

[2018-11-22 14:55] #116 closed

[2018-11-22 14:55] #115 closed

[2018-12-02 17:59] algarsi3 opened #120 "Use custom specie"
Is it possible to use this library with a custom generated genome?

[2018-12-03 04:44] eweitz commented on #120
@algarsi3, yes, you can depict custom genomes with Ideogram.js.  For example:

- [Install Ideogram.js locally](https://github.com/eweitz/ideogram#installation)
- Copy the linked file [`example-organism.js.txt`](https://github.com/eweitz/ideogram/files/2638085/example-organism.js.txt) into `ideogram/dist/data/bands/native/`
- Rename `example-organism.js.txt` to `example-organism.js`
- Load http://l

[2018-12-03 04:44] #120 closed

[2018-12-03 23:37] matthewchan15 opened #122 "Request: Add ability to adjust size of font for band & chromosome labels"
It would be nice to have a property that allows the user to set the `font-size` and `font` (bonus points) of the chromosome and band labels (without manually modifying the source code -> https://github.com/eweitz/ideogram/blob/master/src/js/bands/styles.js). The font is quite small, and would add value for those who have issues reading it.

[2018-12-04 01:55] matthewchan15 opened #123 "Community feedback on wrapped Ideogram for Dash by Plotly"
Hello @eweitz and community,

I've been working on wrapping Ideogram, to be used with the Python framework `Dash`. I'd love to know what you guys think so far! As well, if you see any bugs please let me know!

Dash Ideogram: https://dash-gallery.plotly.host/dash-ideogram-test

One bug I've noticed is that the `overflow-x` seems to be there no matter what. The solution to this, is to change `overfl

[2018-12-04 02:18] eweitz commented on #123
Impressive, @matthewchan15!  Your integration of Ideogram is the most sophisticated I have seen.
 From the look of your work and my experience with Plotly's other offerings, Dash seems like a compelling framework.

[2018-12-04 02:58] matthewchan15 opened #124 "Overflow-x always on"
I've noticed that  `overflow-x`  is always on, which may make some applications with Ideogram not look so good. The solution to this, is to change `overflow-x`  to `auto` here -> https://github.com/eweitz/ideogram/blob/master/src/js/init/write-container.js#L83. This way the user can still have the benefits of using `overflow-x` when it is necessary. I can make a PR for this if you like.

Example w

[2018-12-05 23:35] matthewchan15 commented on #123
@eweitz Thanks for your feedback!  Yup, Dash is pretty great 👍, if you have any questions about Plotly or Dash feel free to reach out!

[2018-12-05 23:42] matthewchan15 opened #126 "Question: showNonNuclearChromosomes example, how does it work?"
Hey @eweitz ,

I was trying to implement `showNonNuclearChromosomes` in my application, but it appears to not do much. I checked out the example you suggested to look at in the API [here](https://eweitz.github.io/ideogram/eukaryotes?org=sus-scrofa), but the example data set listed here does not load. I tried the source code for the example provided, and turning `showNonNuclearChromosomes` to off,

[2018-12-06 12:54] eweitz commented on #126
The failure of `showNonNuclearChromosomes` is caused by NCBI rate-limiting its E-Utils API.  The limits were enacted on 12/1, and [accommodated in Ideogram.js on 12/3](https://github.com/eweitz/ideogram/commits/master?after=b4455e4156a70608fcc6514f607bdb85d238f9be+0), unfortunately after the v1.4.0 release on 11/29.

I'll likely release a patch, v1.4.1, in a few days so the fix for this bug in `ma

[2018-12-07 03:16] #124 closed

[2018-12-10 03:07] eweitz commented on #126
Version 1.4.1 is available, and this is fixed: https://eweitz.github.io/ideogram/eukaryotes?org=sus-scrofa.

[2018-12-10 03:07] #126 closed

[2018-12-13 10:49] algarsi3 opened #127 "Heatmap using annotations option"
As far as I can see it seems that using heatmap option requires to use a file with the annotations with the `annotationsPath` option. Is it possible to use an object passed through the `annotations` config option?

[2018-12-13 10:54] algarsi3 opened #128 "Heatmap with horizontal orientation"
Is it possible to show heatMap Ideogram with horizontal orientation? Trying it seems that does not render correctly:
![imagen](https://user-images.githubusercontent.com/14314257/49934103-c3b57500-fecd-11e8-9d98-63b9cf735bc2.png)

[2018-12-13 11:05] eweitz commented on #128
Not currently.  Knowing this would be useful increases its priority!

[2018-12-13 11:07] algarsi3 commented on #128
It would be nice since horizontal orientation gives more space to expand chromosomes so they can be seen better :)

[2018-12-13 11:16] eweitz commented on #127
I don't know if it is possible to load heatmaps via the `annotations` option -- I have not actually tried.

The fact that all the heatmap examples use `annotationsPath` is just a coincidence.  I assumed folks loading heatmaps in Ideogram would do so by fetching annotations from a remote source.

If you try and cannot load heatmaps via `annotations`, let me know.

[2018-12-13 11:51] algarsi3 commented on #127
Using angular example tried the following:
[code]

But get error:
[code]

from annotations.js file:
[code]

[2018-12-13 11:54] algarsi3 commented on #127
Using angular example tried the following:
[code]

But get error:
[code]

from annotations.js file:
[code]

[2018-12-13 11:59] eweitz commented on #127
Thanks.  This seems worth me investigating.

Do you have a workaround for your use case until this is fixed?

[2018-12-13 12:02] algarsi3 commented on #127
I can use overlay layout. In some scenarios It may be necessary to represent 1.000.000 annotations, in that case I got an out of memory error with overlay. I read on the docs that heatmap scalates better and that is the reason I tried it. Do you have an idea of the annotations limit with overlay layout?

[2018-12-13 12:34] eweitz commented on #127
Overlay layout can likely handle on the order of 10,000 annotations.  My tests show that Ideogram heatmap can handle at least ~100,000 annotations.  It can likely handle more, but I have not tested that.  (The large difference in memory constraints are due to heatmaps using canvas, and other annotations layouts using SVG.)

I am curious: have you tried loading heatmap annotations via `annotationsP

[2018-12-20 23:54] matthewchan15 opened #129 "Data offline: https://unpkg.com/ideogram@1.4.1/dist/js/ideogram.min.js"
Maybe this is temporary, the ideogram data doesn't load on the demo app page as well? -> https://eweitz.github.io/ideogram/human

[2018-12-21 12:07] eweitz commented on #129
The examples load certain resources from [Unpkg](https://unpkg.com), a free content delivery network for NPM packages.  Sometimes that CDN takes a long time to load, and on rare occasion fails.

That seems to be what happened in your case.  Things look OK now.  Thanks for reporting!

[2018-12-21 12:07] #129 closed

[2018-12-21 12:12] eweitz commented on #127
Resolved via email.

[2018-12-21 12:12] #127 closed

[2019-01-02 11:53] algarsi3 opened #131 "annotations scale with brush"
When working with json annotation data I switch between two visualizations. The first one displays annotations on histogram:
![imagen](https://user-images.githubusercontent.com/14314257/50590751-7bfe8980-0e8c-11e9-8366-40e4ddd7c92c.png)
But when I switch the view to be able to use the brush, annotations scaling is not properly rendered:
![imagen](https://user-images.githubusercontent.com/14314257/

[2019-01-02 13:46] eweitz commented on #131
Can you link me to a reproducible example of this issue in a forked repo?

I cannot reproduce the problem locally.  When applying the annotations path in https://eweitz.github.io/ideogram/annotations-histogram to the example in https://eweitz.github.io/ideogram/brush, I see histograms with the expected scaling.

[2019-01-04 03:50] eweitz commented on #131
Closing for now.  Per above, I can't reproduce this.

If this is still a problem, please include a link to demonstrate the issue in a fork of this repo, isolating the issue and reducing your code as much as possible.

[2019-01-04 03:50] #131 closed

[2019-01-04 08:34] algarsi3 commented on #131
Hello @eweitz, sorry for the delay, just solved it. The attribute causing problems was `chrMargin`. When removing from configuration object the annotations scale as expected.

[2019-02-25 12:06] kabdullah opened #137 "trackIndex in annotations?"
I can’t get `trackIndex` to work when I simply use it in the `annotations` option. It only works in json files with `annnotationsPath`. Am I missing here something? Is there a trick to get it work?

[2019-02-26 03:56] eweitz commented on #137
Hi @kabdullah.  No, you're right: trackIndex is currently only supported in raw annotations passed in via the `annotationsPath` option, and not the `annotations` option.  This is mostly just a coincidence of development; I had not considered using it as you suggest.

Is using trackIndex via `annotationsPath` a viable approach for your use case?  If not, I can look into also enabling trackIndex via

[2019-02-26 06:46] kabdullah commented on #137
No. If it is possible, please add `trackIndex` into the `annotations` option. I have a database of mutations for different patients. With the `annotationsPath` option, I would need to create for each patient a json file, which I would like to avoid. Best would be if I could send the `trackIndex` information on the fly to the ideogram.js library.

[2019-02-26 11:23] eweitz commented on #137
OK, thanks for providing additional context.

I will try adding support for `trackIndex` to the `annotations` option.  I'll update here by Monday.

[2019-02-28 13:25] eweitz commented on #137
@kabdullah, I've drafted support for `trackIndex` in the `annotations` option.  Please:

* Download [ideogram-1-6-0-rc1.tar.gz](https://github.com/eweitz/ideogram/files/2915025/ideogram-1-6-0-rc1.tar.gz)
* Copy and unpack it in your web directory, e.g. `tar xzf ideogram-1-6-0-rc1.tar.gz` in a folder named "ideogram".
* Open the "Annotations, tracks" example, e.g. http://localhost/ideogram/examples

[2019-02-28 14:36] kabdullah commented on #137
Thanks @eweitz for implementing the ´trackIndex´ support for the ´annotations´ option. I don't see an example folder in the archive file you provided for download.

[2019-03-01 01:22] eweitz commented on #137
My mistake, please try again.

[2019-03-02 15:26] kabdullah commented on #137
Dear @eweitz. Works smoothly now. Thanks for the quick implementation.

[2019-03-02 15:26] #137 closed

[2019-03-18 16:17] mkcor opened #138 "'organism' (prop name) really means 'species' in this context..."
Hello @eweitz!

I was wondering if you would considering renaming prop [organism](https://github.com/eweitz/ideogram/blob/master/api.md#organism) into species, because really 'human' or 'mouse' refer to a species, not to an organism in particular...

I came across this while working on the Dash Bio version of Ideogram, which is based out of yours (for lack of a better reference: https://github.com

[2019-03-19 02:53] eweitz commented on #138
Hi @mkcor, thanks for the thoughtful suggestion.  I am inclined to keep "organism" as the name of this configuration option.  Changing  the option name from "organism" to "species" would be a simple but large breaking change.  Also, "organism" is conventional, and flexible and regular in ways that "species" is not.  Let me explain.

Software for biology often uses "organism" like Ideogram does.  F

[2019-03-19 12:41] mkcor commented on #138
Hi @eweitz,

Thank you very much for the prompt and detailed reply!

I don't have a bioinformatics background, so I'm more than happy to learn about these terminology conventions and precedents. I appreciate all the references backing up your arguments.

Just to confirm, is the missing word 'or': "Scientists and engineers routinely say "organism" when they mean "species" *or* when they mean "taxon

[2019-03-19 12:45] #138 closed

[2019-03-19 12:51] eweitz commented on #138
That's a valid reading, I'd say.  Cheers, and thanks to you and others at Plotly for your great integration of Ideogram!

[2019-04-30 11:51] eweitz opened #143 "Chimpanzee centromeres that are acrocentric appear telocentric"
Most chimpanzee centromeres that are acrocentric appear telocentric in Ideogram.js.

Specifically, chimpanzee chromosomes 13, 14, 15, and 22 are acrocentric -- like their human orthologs -- but appear telocentric like mouse chromosomes.  The only acrocentric chimpanzee chromosomes that is properly rendered as such is chromosome Y.

Below is what the chimpanzee genome looks like in Ideogram.js.  No

[2019-05-28 22:07] FDUguchunhui opened #148 "Expression-level no-effect problem"
The data is like this. The column CFASN, Blood, and LTB4 is the gene expression under three different conditions.
![image](https://user-images.githubusercontent.com/17284220/58515141-eaacee00-8171-11e9-958a-d292646177db.png)

For each condition, JSON files were created as SRR562646.json for each condition except we don't have gene_type(use a constant instead).
![image](https://user-images.githubus

[2019-05-28 23:42] eweitz commented on #148
@FDUguchunhui, could you provide the following, to help me debug this issue?

* Your Ideogram configuration object, i.e. the "config" object you pass into `new Ideogram(config)`
* Your JSON file containing Ideogram annotations, likely referenced via the `annotationsPath` property in the above configuration object

[2019-05-29 00:38] FDUguchunhui commented on #148
Hi Eric:

I’ve change the path of configuration file, shouldn’t be a problem for you.

The expression-level are base 10 log-transformed(you can find origin level at all.csv), most of them are 0 (but you can see delete them will change the plot).

In the CFASN.json, I deleted all the expression-level = 0 json object (originally, those three are the same).

I am not sure whether you can open the RAR

[2019-05-29 00:55] eweitz commented on #148
Could you attach the RAR file you mentioned?  You can do so by clicking the "Attach files..." bar immediately below the GitHub GUI's comment text input field.

[2019-05-30 13:06] FDUguchunhui commented on #148
[file.zip](https://github.com/eweitz/ideogram/files/3237109/file.zip)

[2019-05-31 11:55] eweitz commented on #148
Thanks for those examples files, Chunhui.

The three plots in your original comment look the same because they are unfiltered.  In other words, they look like https://eweitz.github.io/ideogram/annotations-histogram (with a smaller bar width) because, by default, the histogram annotation layout simply shows the distribution of annotations.

In your case, like the linked example, your annotations re

[2019-05-31 14:18] FDUguchunhui commented on #148
Thank you, Eric. It solves the problem. But still, I doubt the meaning of plot the distribution of the whole annotations. I think when you haven't check any box, the effect should equal to you check all the box. Or the default is all the box are checked.
Another question, the requirement that I have to use an integer as expression-level is kind questionable because it could lead to two similar exp

[2019-06-01 12:08] eweitz commented on #148
Chunhui, that's worthwhile feedback.

Agreed.  That is the case in https://eweitz.github.io/ideogram/annotations-histogram.  Is it not the case with your plots?

Apologies, my prior suggestion for rounding could have been refined.

The integers 1-7 required for the "Expression level" filter in https://eweitz.github.io/ideogram/annotations-histogram are merely placeholders for whatever expression l

[2019-06-01 12:08] #148 closed

[2019-06-07 20:58] matthewchan15 commented on #123
Hey @eweitz ,

You can now use `IdeogramJS` in Python! @plotly has recently released an open-source bioinformatics Python library called `Dash-Bio`: https://medium.com/@plotlygraphs/announcing-dash-bio-ed8835d5da0c

Play with the Ideogram in Dash: https://dash-bio.plotly.host/dash-ideogram/

And checkout the `Dash-Bio` repository: https://github.com/plotly/dash-bio

[2019-06-26 20:24] zfrenchee opened #155 "orientation: 'horizontal', fullChromosomeLabels: true,"
<img width="695" alt="Screen Shot 2019-06-26 at 4 23 11 PM" src="https://user-images.githubusercontent.com/2761597/60212242-c145b780-982e-11e9-8777-7877c8ee27d7.png">

[2019-06-26 20:26] zfrenchee commented on #155
This has to do with the degree of translation in

[code]

Increasing that first number to ~45 solves this (though the tail of the chromosome begins to disappear).

[2019-06-27 17:06] zfrenchee opened #156 "Briefly Document chromosome biology / colors?"
This tool is much appreciated. I'm curious what each of the colors represents.
<img width="1356" alt="Screen Shot 2019-06-27 at 1 02 24 PM" src="https://user-images.githubusercontent.com/2761597/60285676-17bcff80-98dc-11e9-8650-b474f30f0cfd.png">

What is the blue cross-hatching? Why are some centromeres longer than others? A link to somewhere which answers these questions would be much appreciate

[2019-06-28 11:36] eweitz commented on #156
Greetings, Alexander!  Here you go.

# Chromosome biology in Ideogram.js
<img width="1166" alt="chromosome_biology_telomere_centromere_ideogram_2018-10-24" src="https://user-images.githubusercontent.com/1334561/60329274-09afc300-995e-11e9-8c24-a195c8c05d87.png">
<img width="1167" alt="chromosome_biology_p_arm_q_arm_ideogram_2018-10-24" src="https://user-images.githubusercontent.com/1334561/6032927

[2019-06-28 16:31] zfrenchee commented on #156
Thanks!

[2019-06-28 16:31] #156 closed

[2019-08-08 00:33] kokyriakidis opened #163 "Change annotation info displayed"
Hi! How can I change the annotation info when I hover or click on an annotation shape (triangle etc). I would like it to show more things instead of Gene name and position.

[2019-08-08 01:12] eweitz commented on #163
Use [`onWillShowAnnotTooltip`](https://github.com/eweitz/ideogram/blob/be768fbcbf1510ce83de36b3c2dc84ef644b2c0b/api.md#onwillshowannottooltip) to change `annot.displayName`.

See the example in [Annotations, external data](https://eweitz.github.io/ideogram/annotations-external-data).  Relevant [source](https://github.com/eweitz/ideogram/blob/538e333e5b07d9b7ed2fad7eb5ab68bd1d557d7d/annotations-ext

[2019-08-08 10:28] kokyriakidis commented on #163
Hi! Thank you for your reply. Because I am not so familiar with code, is there any way to use as external data variants from a vcf? I want to show each variant from a vcf file with this report

[2019-08-08 10:59] eweitz commented on #163
Ideogram has no direct support for VCF, but if you convert your VCF file to a BED file then you could depict the BED contents as shown in the [Annotations, file URL](http://localhost:8080/examples/vanilla/annotations-file-url?asm=GRCh37&annotsUrl=https://raw.githubusercontent.com/NCBI-Hackathons/Scan2CNV/master/files/201113910010_R08C02.PennCnvOut.bed) example.

Alternatively, if you could elabora

[2019-08-08 11:23] kokyriakidis commented on #163
I want to depict variants, produced from a certain interval file in the
regions I want, from a vcf file with the ideograms. The best solution is to
use as input the bed file with the regions I want and with a script to look
out in the vcf for variants in these positions and plot them in ideograms.
This could be HUGE. I would like to have the ability to hyperlink them to
the PharmGKB database when

[2019-08-08 11:28] kokyriakidis commented on #163
I want to know if I can add more columns in the bed file and show this
information in the legend

Στις Πέμ, 8 Αυγ 2019 στις 2:23 μμ ο χρήστης Konstantinos Kyriakidis <
kokyriakidis@gmail.com> έγραψε:

[2019-08-11 10:59] eweitz commented on #163
No, not trivially, after reviewing [`bed-parser.js`](https://github.com/eweitz/ideogram/blob/be768fbcbf1510ce83de36b3c2dc84ef644b2c0b/src/js/parsers/bed-parser.js).

How huge, roughly?

If you could provide a small file with example data, that would help.

[2019-09-25 14:34] GenomicsGeorge opened #170 "Uploading a Bed file instead of a URL link"
This is a brilliant tool. Thank you.

I was wondering if there is a way to upload the data as a bed file rather than URL link?

That will be really helpful if it is possible.

Many thanks
George

[2019-09-26 11:51] eweitz commented on #170
Hi George, not yet, but that's a good idea and seems technically feasible.

The [Annotations, file URL](https://eweitz.github.io/ideogram/annotations-file-url) example is the closest thing to what you're looking for.  But as you note, Ideogram currently can't display data from a BED file without having a URL to it.

That said, Ideogram might be able to read a BED file  _without uploading it_, usin

[2019-10-07 11:19] eweitz commented on #163
I think the original question has been answered.  A new GitHub issue would be best for any desired follow-up on the later discussion topics.

[2019-10-07 11:19] #163 closed

[2019-10-22 09:00] GenomicsGeorge commented on #170
Hi Eric,

Thank you for your comments.
One of my programmers colleagues created a URL link for a test bed file with the basic chr, start and end (as it is for copy number variants). However, when we uploaded the link, it came back with no marking on the ideogram. Any suggestions?

Thanks,
George

[2019-10-22 09:09] eweitz commented on #170
I would debug with Chrome DevTools -- there is likely a JavaScript or network error being logged to the DevTools console.  That would give hints on how to proceed.

If you could attach the test BED file here (or email it to me), I'd be happy to investigate.

[2019-10-22 11:14] GenomicsGeorge commented on #170
Thanks for your input Eric. We tried your suggestion about the genome build and it works well now

Thanks,
George

[2019-10-23 00:58] helocean opened #172 "trackIndex in drawAnnots method?"
I can’t get trackIndex to work when I simply use it in ideogram.drawAnnots method. It only works in json files with annnotationsPath. Is there a trick to get it work?
----------------------------------------------------------------------
firedebug give me a error:
TypeError: o.config.annotationTracks[n.trackIndex] is undefined
----------------------------------------------------------------------

[2019-10-24 01:14] eweitz commented on #170
I'm glad that worked!

[2019-10-24 01:14] #170 closed

[2019-10-24 01:18] eweitz commented on #172
@helocean, something almost like this is done in https://eweitz.github.io/ideogram/annotations-track-filters.  Exploring that example and its source might be a helpful guide.

[2019-11-17 14:07] rduque1 opened #178 "Annotations who's location is too close, get the same location on the chromosome and are not visible"
Hi,

When I draw annotations for an ancestry tool, the SNPs are very close to each other, for the annotations close to each other only the latest is showed. The other are stacked underneath it.

Is there a way to make those annotations not stacked under each other but next to each other?

Thank you

[2019-11-18 01:14] eweitz commented on #178
Yes, check out:

* [Annotations, tracks](https://eweitz.github.io/ideogram/annotations-tracks): suitable for < 1000 annotations.  Likely closest to what you're looking for.
* [Annotations, histograms](https://eweitz.github.io/ideogram/annotations-histogram): suitable for < 100,000 annotations
* [Annotations, heatmaps](https://eweitz.github.io/ideogram/annotations-heatmap): suitable for >= 100,000

[2019-11-19 09:53] rduque1 commented on #178
Hi thanks for the quick prompt back, I tried those but it's not working. Maybe I misunderstood something.
Here I put an example: [https://jsfiddle.net/dpw8rxh7/4/](https://jsfiddle.net/dpw8rxh7/4/). Or you can find the content of the file below too.

You will see that the annotations are exactly drawn at the same position.
In the example I put, 2 annots will be stacked and 3 others too.

The ances

[2019-11-24 12:41] #172 closed

[2019-11-26 10:11] anupullanhi opened #180 "RNASeq Viewer"

[2019-11-26 10:20] #180 closed

[2019-12-21 18:39] ejblom opened #183 "name/info in overlay/tooltip"
Hi Eric
Very cool visualization. I am playing with the basic example:

`<a href="https://github.com/eweitz/ideogram/blob/gh-pages/annotations-overlaid.html" target="_blank">Source</a>
<p>Large-scale structural variations (SVs) can be depicted using colored overlays, as seen below.</p>
<script type="text/javascript">

var config = {
organism: 'human',
chrHeight: 600,
chrMargin: 5,
annotations:{"key

[2019-12-28 20:16] eweitz commented on #183
Hi @ejblom, no, not with that format of annotations.

However, if you rearranged those annotations (https://eweitz.github.io/ideogram/data/annotations/10_virtual_cnvs.json) to use an array of annotation objects instead of an array of arrays, you could have the name display in the tooltip.

You'd just need to ensure the name you desire was in the `name` property, as with that BRCA1 example.

[2019-12-28 20:16] #183 closed

[2019-12-29 13:00] ejblom commented on #183
Hi Eric

Thanks, that seems to work, for instance using:

annotations: [{ name: 'BRCA1', chr: '17', start: 43044294, stop: 47125482 },{ name: 'BRCA1', chr: '18', start: 43044294, stop: 47125482 }],

However, is there a way to add a color to an annotation object? Previously I used precalculated RGB values (for instance rgba(34,139,34,0.55)). Now everything is red.

Best wishes

EJ

[2020-01-01 13:39] eweitz commented on #183
@ejblom, add a `color` property like so:

`{ name: 'BRCA1', chr: '17', start: 43044294, stop: 47125482, color: '#CCF'}`

[2020-01-01 15:22] ejblom commented on #183
@eweitz
That works excellent. Thanks a lot.

[2020-01-10 14:49] GenomicsGeorge commented on #170
Hi Eric,

Using your brilliant tool, I displayed my CNVs very nicely and I am using different colors for deletions and duplications. I was wondering if it is possible to display deletions /duplications at different sides of the ideogram?

Thanks,
George

[2020-01-10 14:54] GenomicsGeorge commented on #170
For example when you are using the heatmap option or histogram option etc. As it will not work with the overlay option.

Thanks,
George

[2020-01-11 15:20] eweitz commented on #85
Yesterday, @GenomicsGeorge followed up on a discussion about loading BED files into Ideogram (#170) with another request for this new feature:

Two users have independently requested this: @KyleGao and @GenomicsGeorge.

Histograms on both sides of each chromosome could also be used for [differential expression](https://eweitz.github.io/ideogram/differential-expression), e.g. show positive fold cha

[2020-01-11 15:21] eweitz commented on #170
Hi @GenomicsGeorge, agreed.  I aim to add support for that by March.

You can track progress over in issue #85.

[2020-01-15 21:00] GenomicsGeorge commented on #85
Thats brilliant Eric. Thank you

George

[2020-01-18 14:25] rdcwuyy opened #189 "Drosophila euchromatin regions near centromere overshadowed by heterochromatin representation"
Dear Eric,

Thanks for your fantastic work on the ideograms.

I found 3 regions (Chr2R, 3R and X) in the Drosophila ideogram misrepresented:
![Annotation 2020-01-18 125352](https://user-images.githubusercontent.com/9682240/72665181-8d65f580-39fd-11ea-8c11-e93e752f744a.png)

There might be some small issues in the source code, but a temporary solution could be to delete these three lines from ...di

[2020-01-20 11:46] eweitz commented on #189
Thank you for the fix, @rdcwuyy!  I implemented it in #190.

Ideogram gets its Drosophila banding data from NCBI Assembly.  When I have more time, I plan to review the data issue more closely and report it to NCBI.

Also, since you gave rather precise and correct instructions for the fix, I'd like to add you to the [authors list](https://github.com/eweitz/ideogram/blob/master/AUTHORS).  If you'd l

[2020-01-20 11:47] #189 closed

[2020-01-20 23:04] rdcwuyy commented on #189
Hi Eric,

Thanks for your kindness. It's my great honour to be on the author list, although I've done too little to be a genuine one. ;)

Anyway, my name is Yanying Wu and my email is yanying.wu@gmail.com

Cheers,
Yanying

[2020-01-21 00:02] eweitz commented on #189
[Added](https://github.com/eweitz/ideogram/commit/d5a5402ed311ef6d3b85969c05be3db17c2bbb1e), cheers!

[2020-01-21 12:26] eweitz commented on #85
I can't do this before March as I had aimed, due to factors that have come up in the last week or so.

I welcome any help implementing this feature!

[2020-06-27 04:21] seo-j opened #212 "Latest version does not work with Vue.js?"
I'm trying to use version 1.20 with Vue.js on Electron, but a error "Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 0" occurred.

Error details are:

[code]

My code is same as the example for Vue on GitHub.

[code]

I also remove and re-installed version 0.13 for the test. It was the version described in package.json of example. Then it worked with same code in my envir

[2020-06-27 12:45] eweitz commented on #212
Hi @seo-j , your stack trace includes:

[code]

However, Ideogram.js has not used `eval` for over a year  -- [`eval` was removed in v1.9.0](https://github.com/eweitz/ideogram/releases/tag/v1.9.0).  This might mean you're somehow using v0.13.0 when you intend to use v1.20.0.

Could you please post the output of these commands on your machine, in the case that triggers the error?

[code]

[code]

[2020-06-27 20:26] seo-j commented on #212
Hi @eweitz, thank you for your reply.

Here is a result from your indicated commands.
[code]
[code]

I'm using `yarn` as package manager and I thought it may be problem by reading your comment. So I tried to install all dependencies with `npm` after removing `node_modules` and `*.lock`. But result was same.

[2020-07-01 03:46] eweitz commented on #212
@seo-j, this should now be fixed.  Could you try re-installing the example again from https://github.com/eweitz/ideogram/tree/master/examples/vue#ideogram-in-vue, and let me know if you encounter any problems?

[2020-07-01 19:40] seo-j commented on #212
Hi @eweitz, thank you for your quick update. I could use an ideogram successfully in both your example and my application. But I found:

- Version 1.20 is specified in the package.json in the example
- Both 1.20 and 1.21 worked with the new example code.
- Without `dataDir` option described in the new example, both 1.20 and 1.21 does not work. Same error shows up.

Is this behavior correct as you

[2020-07-02 01:12] eweitz commented on #212
@seo-j, yes, please use `dataDir` for now.  I will look into making that implicit and robust in the next release, and will ensure that declaring it explicitly still works.

[2020-07-02 01:12] #212 closed

[2020-07-02 20:59] seo-j commented on #212
@eweitz , I see. Thank you for you kind response.

[2020-07-06 14:53] amanpatel opened #217 "Click event support"
Just like how the component supports "Brush", which allows you to select portion of the chromosomes, we could also support a simple click event handler, which would highlight the region of the chromosome with a red cursor like element. Dragging the chromosome would simply move this cursor where your mouse is.

I might implement this and create a PR.

[2020-07-06 17:32] eweitz commented on #217
Hi Aman, interesting -- no objections here to exploring that idea.

Currently, by default, clicking a chromosome toggles single-chromosome view.  See e.g. https://eweitz.github.io/ideogram/human.  Perhaps the trigger for such toggling could be changed to [double-click](https://developer.mozilla.org/en-US/docs/Web/API/Element/click_event), to accommodate your proposal where (presumably) single-clic

[2020-07-09 12:00] eweitz commented on #62
This has been fixed for a while.

[2020-07-09 12:00] #62 closed

[2020-07-12 20:50] amanpatel commented on #217
I've done it :) After about 3hrs of work. I think I have the first take on this ready to be reviewed. I'll open a PR shortly. Btw, I love the pre-commit Linting & test executions.

[2020-08-04 21:23] harris-2374 opened #220 ""chromosomes" argument is non-responsive for any other pre-built organism other than human and mouse."
When using the pre-built native organisms, i.e. Felis catus (organism="felis-catus"), if you try to use the "chromosomes" argument to display say only chromosome "A1" of the domestic cat, it still renders all chromosomes. However, when testing this with 'human' and 'mouse', the argument properly subsets out the chromosome(s) and renders only the chromosome(s) provided in the 'chromosomes' argument

[2020-08-05 21:21] #220 closed

[2020-08-17 14:48] MarilyneSummo opened #222 "Horizontal chromosome size and brush"
Hi,

First of all thank you for this really useful library.

I use the library to view annotations on the rice genome. I have a first global view with all the chromosomes displayed vertically. Then when I click on one of the chromosomes I display a second container with the chromosomes in horizontal mode and with the brush.

My problem is that with my data the displayed chromosome is bigger than t

[2020-08-18 01:58] eweitz commented on #222
Hi Marilyne, awesome use case!  Thanks for the comprehensive information.

Yes, there is a problem with your data.  If you compare the cytoband JSON you posted to that in [`/dist/data/bands/native/oryza-sativa.json`](https://raw.githubusercontent.com/eweitz/ideogram/ecd2a846ee22c6b4ea7151b636c4aca7c608aab6/data/bands/native/oryza-sativa.json), you'll see yours lacks "acen" bands.  If you wish to s

[2020-08-18 02:00] eweitz commented on #217
This was implemented in #218.  Thanks again for that, Aman.

[2020-08-18 02:00] #217 closed

[2020-08-18 13:27] MarilyneSummo commented on #222
Thank you so much for your prompt response, everything is working fine now !

This work is part of a thesis on the study of the Leucine-Rich Repeat Receptor-Like Kinase (LRR-RLK) gene family in rice genome. I use ideogram to display and browse gene annotations along the genome.
I'm also working on another project using ideogram to visualise genetic mosaicism on banana genomes.
These works are not

[2020-08-18 23:55] eweitz commented on #222
Exciting stuff -- I can be reached at eric.m.weitz@gmail.com whenever they're ready.

[2020-08-18 23:55] #222 closed

[2020-09-01 19:21] vsoch opened #223 "Yeast example does not work"
Heyo! It looks like there is a missing / mislabeled static file preventing the yeast example from working:

![image](https://user-images.githubusercontent.com/814322/91896373-fa10c600-ec55-11ea-833b-6bdce521e294.png)

[2020-09-01 19:23] vsoch commented on #223
Here is the link! https://eweitz.github.io/ideogram/eukaryotes?org=saccharomyces-cerevisiae

[2020-09-02 13:00] eweitz commented on #223
Thanks for reporting the bug, @vsoch.  This was caused by a silently backwards-incompatible upstream API change.  I'll likely deploy a fix within a few days.

[2020-09-03 16:03] chriscdm opened #224 "Annotating MT Chromosome"
Hello, thank you for this handy tool!

I am trying to use this to add a simple ideogram to a rare genetic disease portal, I am showing an ideogram with one chromosome highlighted at a time and one gene annotated. The user will be able to select genes associated with the genetic disease to see where it is located.

(Please forgive my ignorance regarding genetics in relation to my issue). Several of

[2020-09-04 01:07] eweitz commented on #224
Hi Chris, great questions.

Not yet with this tool.  I wasn't sure it was worth the effort.  Given your message, I suspect it is.

It's reasonable to do, in my opinion.  Chromosome MT poses unique rendering challenges for chromosome visualization:

1. MT is very small (sometimes vanishingly small) relative to the nuclear chromosomes.
2. MT is usually depicted as a circle rather than line.

I'll sh

[2020-09-05 03:08] eweitz commented on #223
[Fixed](https://eweitz.github.io/ideogram/eukaryotes?org=saccharomyces-cerevisiae)!  Thanks again.  Technical details are in #225.

[2020-09-05 03:08] #223 closed

[2020-09-05 16:42] vsoch commented on #223
Thank you @eweitz ! One more quick (probably naive) question - is there any reason that I can't see detail in the genome beyond a gray bar? For example here is yeast:

![image](https://user-images.githubusercontent.com/814322/92309364-208a7600-ef62-11ea-9dec-cd224b8b03cc.png)

and here are some others with details:

![image](https://user-images.githubusercontent.com/814322/92309375-3c8e1780-ef62-1

[2020-09-05 18:01] eweitz commented on #223
Hi @vsoch, you asked:

Yes, that's due to lack of cytogenetic banding data.

Such bands are available for a few organisms (e.g. rat), but not readily for yeast.  Most band data is from NCBI, and I occasionally forage band data from other resources when someone inquires.  There is also a level between the "fully banded" view like your rat example and the grey bar like yeast.  The intermediate level

[2020-09-05 18:05] vsoch commented on #223
Wow thank you! Please let me know if I can help! I've looked at the source code for the examples that I linked, and it looks like they both generate a config object to then interact with the ideogram.js module. I was thinking if I could generate [this data file](https://raw.githubusercontent.com/eweitz/ideogram/gh-pages/data/annotations/SRR562646.json) for yeast it would be possible to get a simil

[2020-09-09 14:34] chriscdm commented on #224
thank you again for this, Eric! We really appreciate the enhancement!

I will share once our tool goes live!

[2020-09-09 14:34] #224 closed

[2020-09-12 00:04] eweitz commented on #223
Hi @vsoch, Ideogram now shows [centromeres for yeast](#229)!  I'll release that this weekend and update here.

Also, you wrote:

True.  The hard part is getting such a data file.  That [SRR562646.json](https://raw.githubusercontent.com/eweitz/ideogram/gh-pages/data/annotations/SRR562646.json) gene expression file you note was generated by the [rnaseqview pipeline](https://github.com/NCBI-Hackathon

[2020-09-12 00:10] vsoch commented on #223
Yes! My naive sense would be to start with systematic names, and then use the SGD database API to get the names, positions, and types - the expression would vary based on the dataset. If you have something to start in that direction, I could definitely give it a shot!

[2020-09-14 01:47] eweitz commented on #223
This is live: http://localhost/ideogram/eukaryotes?org=saccharomyces-cerevisiae.

That approach makes sense!  I'll link to the relevant code I mentioned soon.

[2020-09-14 01:47] eweitz commented on #224
This is live: http://localhost/ideogram/highlights-basic.

[2020-09-16 13:36] algarsi3 opened #232 "Dealing with huge amount of data"
Hello Eric,

first of all, thank you so much for this wonderful tool. I've been using it for more than two years. Currently, we are trying to show around 4 million variations in the ideogram. This means a 116 MB JSON file. It seems that the library is not able to show such data. Do you have any advice on how to deal with this? variations are stored with format: `[snp,14587459,1,1]`

Thanks.

[2020-09-17 00:10] eweitz commented on #232
Glad to hear, Alberto!  Could you tell me where and how you use Ideogram.js?  Knowing such things helps steer my work.

I can't think of anything off-hand that would preclude that.  Two things would help me debug:

* Could you post the data somewhere, and link me to it?
* Could you provide your Ideogram.js configuration options here (e.g. `config` from `new Ideogram(config)`)?

[2020-09-17 09:26] algarsi3 commented on #232
We are comparing full genome sequences of fruits to show their differences at a genome-wide level.

Sent you an email :)

[code]

homo-sapiens.js:
[code]

[2020-09-23 10:21] eweitz commented on #232
That context helps, Alberto.  At what organization or institution do you use Ideogram?

I confirmed Ideogram displays the 113 MB `as6fb2k.json` you sent me.  Perhaps check that your `dataDir` and `annotationsPath` are properly set, e.g. try moving the files from your working local "[Annotations, histogram](https://eweitz.github.io/ideogram/annotations-histogram)" reference example into the locatio

[2020-09-26 00:54] eweitz commented on #232
Hi @algarsi3, I hope this works for you!  If not, let me know and we'll revisit.

[2020-09-26 00:54] #232 closed

[2020-09-28 12:51] algarsi3 commented on #232
Hello Eric,

At polytechnic university of valencia.

Thank you for your time, it is working. There was an issue storing the generated file.

[2020-10-02 13:29] cmixon opened #237 "Tooltip modification for user-defined string or hyperlink"
The current tooltip visible in annotations-external-data.html shows gene name (with link to NCBI) and chromosome coordinates.

Could it be modified to also show a user-defined string or a link to another URL or a local file with additional information?

This modification would be useful to display technical information about the gene, such as clinical test names (user-defined string) and data shee

[2020-10-03 02:37] eweitz commented on #237
Hi @cmixon, excellent use case.  This is done in the "[Related genes](https://eweitz.github.io/ideogram/related-genes?q=RAD51)" example via `annotDescriptions` in a [tailored kit](https://github.com/eweitz/ideogram/blob/master/src/js/kit/related-genes.js) module.  If you hover over a purple annotation there, you'll see links to associated interaction paths -- i.e. data beyond the annotation gene a

[2020-10-04 19:09] vsoch opened #239 "Development of Yeast Ideogram"
hey @eweitz! As promised, I had a chance to start working on deriving data to generate the yeast ideaogram with expression data. I have some questions that I'm hoping you might be able to help with, or point me to who can. First, what I've done.

 1. I found an export file for SGD so I could get a complete list of features, including names, start/stop, chromosome, etc.
 2. I read in the [human equ

[2020-10-04 19:34] vsoch opened #240 "Software Showcase!"
Hey @eweitz! Sorry for two issues in one weekend, one day! This one is more fun :) I would like to share ideogram.js on the rseng software showcase this week https://rseng.github.io/rseng/blog/ and I'm wondering if there are any interesting stories, historical tidbits, or resources that you would like to add? The post serves as a general introduction to the software to get folks excited, and possi

[2020-10-06 11:43] eweitz commented on #240
Hi @vsoch, thanks for featuring Ideogram :).  [The blog post](https://rseng.github.io/rseng/software/ideogram) looks good!

Small copyedit: the library name can be rendered as "Ideogram.js" or "Ideogram" -- always with capital "I".

Interesting tidbit: I began Ideogram.js [in February 2015](https://github.com/eweitz/ideogram/commit/b615e0f0a06fee451f07f5b8582eb772d1097f28), and have developed it a

[2020-10-06 16:53] vsoch commented on #240
Thank you, I've made the fixes! https://github.com/rseng/rseng/commit/4c950a5dd08b5e7c360815c9c5af0ff4ad6c743f. +1 for integrating zenodo, it's really useful. I think we are good for this particular issue, so I'm going to close. Thanks again!

[2020-10-06 16:53] #240 closed

[2020-10-17 18:13] vsoch commented on #239
hey @eweitz did you have any thoughts about this? I can do any development work needed if you point me to the right places to look.

[2020-10-17 19:15] eweitz commented on #239
Sorry to delay!  Your draft looks great so far.

The `gene-type` integer in the annotations JSON should align with the filter map value specified in the client HTML.  See e.g JSON in [SRR562646.json](https://raw.githubusercontent.com/eweitz/ideogram/3ae4fdecc01f511fabf90ce8f87225e10675393c/dist/data/annotations/SRR562646.json) and `filterMap` in [annotations-histogram.html#L131](https://github.com

[2020-10-21 17:48] vsoch commented on #239
I can't recall where I downloaded the data file from, but it's a link somewhere on SGD, and it provided an SGD_features.tab and SGD_features.README. Here is the README

[code]
And then, for example, a row in the .tab file might look like

[code]
And then I map the fields as follows to generate the data for the visualization:

[code]
And for annotations, since it seems to be in the format of a roma

[2020-10-22 00:12] eweitz commented on #239
Thanks for the overview -- the extra context helps.

That makes sense.  I might even use a subset of those, only including features that have a feature type that contains the string "gene" (`"gene" in line[2]`, or some such).  That's because features like "non_transcribed_region" and "telomere" would not be genes, i.e. not expressed.

The approach might need refinement -- I would expect to see som

[2020-10-22 17:22] vsoch commented on #239
A quick update! I updated the script to use a subset of the features (ORF + those with gene in the name) and still grabbed a set of counts across the entire data:

[code]
And here are the counts, most of the gene names are rather tiny, the only one I'm including (which I'm not sure if I should) is ORF.

![Screenshot_2020-10-22 feature_counts - Jupyter Notebook](https://user-images.githubuserconten

[2020-10-22 18:34] vsoch commented on #239
okay, went ahead and tried creating the same for a dataset anyway! I was able to simply read in a data file and then generate named bins that match to the expression levels. I also [updated the README](https://github.com/vsoch/yeast-ideogram) with some of our notes. Here is the one for the dataset, doesn't look remarkably different! https://vsoch.github.io/yeast-ideogram/dataset.html

[2020-10-23 03:44] eweitz commented on #239
The graph and new examples are illuminating!

CDS ([CoDing Sequence](https://en.wikipedia.org/wiki/Coding_region)) was clearly the big class of missing genes.

I see no other feature types that are genes but wouldn't be covered by something like `"gene" in line[2]`.  ORF ([Open Reading Frame](https://en.wikipedia.org/wiki/Open_reading_frame)), ARS ([Autonomously Replicating Sequence](https://en.wi

[2020-10-23 16:49] vsoch commented on #239
Okay, next round of changes ready! I did the following:

 - only included CDS, and anything with "gene," and added a new catch all for "other types." Since I want to match integers in the interface I still based it on matching full names (and not "if gene in feature")
 - I probably don't have the expertise to submit one of those files, but I could help if someone else is interested.
 - showNonNucl

[2020-10-23 21:27] eweitz commented on #239
I see the problem.  That link was key -- thank you.  For our convenience, full links to relevant files:

* http://sgd-archive.yeastgenome.org/curation/chromosomal_feature/SGD_features.README
* http://sgd-archive.yeastgenome.org/curation/chromosomal_feature/SGD_features.tab

`SGD_features.README` says:

So chromosome 17 is MT (sometimes rendered as "chrMT" or "chrmt"), not a relic "chrXVII".  This

[2020-10-26 17:56] bioinsilico opened #250 "Mus musculus taxonomy id (10090) fails"
Some taxonomy ids fail e.g.

new Ideogram({organism: 10090});

Some method requests a non-existent file https://cdn.jsdelivr.net/npm/ideogram@1.27.0/dist/data/bands/native/house-mouse.json

[2020-10-26 23:24] eweitz commented on #250
Thanks for reporting the bug.  As a workaround, does passing the scientific name work for you?  E.g.:

`new Ideogram({organism: 'Mus musculus'});`

[2020-10-26 23:53] bioinsilico opened #251 "Wrong view size for "Arabidopsis thaliana" chromosome subset"
The chromosome size is cut/incomplete when the ideogram is generated for a chromosome subset of  "Arabidopsis thaliana"

https://codepen.io/bioinsilico/pen/XWKMGqX

var ideogram = new Ideogram({
  organism: 'Arabidopsis thaliana',
  chromosomes:["1","5"],
  chrHeight: 512,
  chrWidth: 20,
  orientation: 'horizontal',
  container:'#div1'
});

[2020-10-27 00:02] bioinsilico commented on #250
Thank you @eweitz.  Yes, it works using the NCBI scientific name.

[2020-10-27 01:41] eweitz commented on #250
Great -- glad it works for you!

[2020-10-27 01:41] #250 closed

[2020-11-06 21:58] vsoch commented on #239
A quick update! There isn't strong interest to add this to the application I'm working on, so I think we should leave the issue open and I'm happy to come back and continue development if/when someone else is interested. Would this be okay with you?

[2020-11-06 23:53] eweitz commented on #239
OK, I'll keep this open for a while.  Thanks for exploring -- and helping improve -- Ideogram for yeast!

[2020-11-07 04:40] eweitz commented on #237
I just updated [Annotations, external data](https://eweitz.github.io/ideogram/annotations-external-data) with an example showing how to modify tooltips to contain user-defined strings and links.  See PR #254 for a screenshot, and specific changes needed.

Apologies for the delay on that, @cmixon.  Let me know if more would help!

[2020-11-09 12:33] edoardobertolini opened #255 "maize cytogenetic band data"
Hello Eric,
Could you please share the cytogenetic band data for the species Zea mays (corn). I cannot retrieve the data from Genomaize.
Thanks!
Edo

[2020-11-09 12:40] eweitz commented on #255
Sure!  Here it is: https://raw.githubusercontent.com/eweitz/ideogram/master/data/bands/native/zea-mays.json.

Relevant upstream files include [`genomaize.py`](https://github.com/eweitz/ideogram/blob/5c6c5578b93bda3013034be2eef1c0e8c7b8fb6f/scripts/python/fetch_chromosomes/genomaize.py) and [`zea-mays-b73-v2-centromeres.tsv`](https://raw.githubusercontent.com/eweitz/ideogram/5c6c5578b93bda3013034be

[2020-11-09 13:41] edoardobertolini commented on #255
Thanks, Eric!
I assume that cytogenetic band coordinates are from the maize assembly
AGPv4 and that the centromere coordinates are from the assembly AGPv2. Is
this correct?
I have reorganized your zea-mays.json according to UCSC format (pasted
below) in case others need this data too.

Edo

chrom chromStart chromEnd name gieStain
1 1 2313315 pctg1 gpos25
1 2313316 3568908 pctg2 gneg
1 3568909 6067

[2020-11-09 23:14] eweitz commented on #255
Much appreciated, Edo.  Any chance you could open a PR with that data?

[2020-11-09 23:31] #237 closed

[2020-11-11 12:08] eweitz commented on #255
Not quite.  Bands and centromeres are both from AGPv2.

More specifically, bands and centromeres are from [zeaMay_b73_v2](https://github.com/eweitz/ideogram/blob/5c6c5578b93bda3013034be2eef1c0e8c7b8fb6f/scripts/python/fetch_chromosomes/genomaize.py#L8) in Genomaize, which [per MaizeGDB](https://www.maizegdb.org/assembly) is also known as AGPv2, formally B73 RefGen_v2 ([GCA_000005005.4](https://www

[2020-11-19 05:13] cmixon opened #257 "Annotating genes in human pseudoautosomal regions"
Annotations are not drawn for genes in the pseudoautosomal regions of X and Y chromosomes because ENTREZ returns the X and Y chromosome loci for these genes.  See for example _CRLF2_ and _SHOX_.

I can map the genes to the X chromosome by changing the property value:

                                   if(result.chromosome === "X, Y"){result.chromosome = "X"};

but it would be more desirable to sh

[2020-11-19 13:08] eweitz commented on #255
(Below is adapted from an email I sent. I surface it here for any future curious maize researchers.)

Investigating deeper, I see my previous comment is incorrect.  Ideogram.js data for _Zea mays_ (maize, corn) centromeres is indeed from Genomaize [1], but its "bands" are from Ensembl [2].  Specifically, the maize cytobands came from Ensembl's public MySQL database `zea_mays_core_35_88_7`.  That d

[2020-11-19 13:12] eweitz commented on #255
I'll close this for now, but would still welcome a PR with UCSC-formatted data!

[2020-11-19 13:12] #255 closed

[2020-11-19 13:44] eweitz commented on #257
Agreed, it makes sense to show multiple annotations for genes with multiple loci.

So you could perhaps account for _CRLF2_ and other genes in PAR with something like:

[code]

P.S.:  Thank you for properly styling -- I had forgotten that [gene symbols ought to be italicized](https://www.biosciencewriters.com/Guidelines-for-Formatting-Gene-and-Protein-Names.aspx)!

P.P.S.: You might also be intere

[2020-11-29 16:39] cmixon opened #259 "Annotations obscured by overlaps"
If annotations lie close together they are obscured (annotations-external-data.html, human ideogram, 850 band level).  It is sometimes difficult to tell that annotations are overlapping and sometimes an annotation tooltip does not display at all.  Changing the annotationHeight attribute does not solve.

For example, _ACP5_ and _ZNF443_ lie in close proximity on 19p.  If the triangle shape is used,

[2020-11-29 17:53] cmixon opened #260 "Display of chromosome band labels"
The option to display all or most of the chromosome band labels would provide clearer cytogenetic information for annotations, similar to what is done at the genome decorator page of NCBI https://www.ncbi.nlm.nih.gov/genome/tools/gdp.

[2020-12-01 12:35] eweitz commented on #257
Per email, it sounds like you found a solution.

[2020-12-01 12:35] #257 closed

[2021-03-04 18:18] richwandell opened #262 "Please remove ID's on elements and instead use classes"
Currently I am looking through the elements generated by this plugin. It appears that you have used id's for the elements. This will not work well for styling some of these elements if I have more than 1 instance of this plugin in the same page.

The easy solution is to stop using id's and replace with classes.

[2021-03-22 20:54] richwandell opened #263 "How can I hide brush until a user actually tries to select a region?"
Currently it looks like it is a requirement to define a region in order to get the brush to work. My use case is that I want to allow a user to select a region on a chr but I don't want to have to pre define the brush location. Is this possible?

[2021-03-22 20:59] richwandell commented on #263
Found the solution. I can add brush at `chr1:1-2` and the brush will not show but it will allow selection.

[2021-03-22 20:59] #263 closed

[2021-03-23 17:03] #262 closed

[2021-04-06 11:58] PSB-mibel opened #265 "single word as organism with custom dataDir doesn't work"
If I use a custom dataDir, and use a single word (e.g. 'ath' instead of 'arabidopsis-thaliana'), then the code does indeed try to load the 'ath.json' file from the defined dataDir.
However, the code subsequently crashes ("Uncaught (in promise) TypeError: can't assign to property "chrIndex" on "1": not an object"  --> chromosome-model.js:174).

If I use the same custom dataDir, but use a compound w

[2021-04-06 12:53] PSB-mibel commented on #265
Looking at the codebase it's apparent that NCBI E-utils is first called in order to 'validate' the provided organism name.
Is there a way to disable this validation step?

I have species (e.g. Zea mays cv PH207) for which no taxonomy-id is assigned yet, so this call will fail.

And I noticed that, if one were to provide a taxonomy-id as organism-name, then this E-utils call is used to convert this

[2021-04-06 12:56] eweitz commented on #265
Interesting use case.  Do your organisms differ in chromosome length or number from their more common related taxa?

[2021-04-06 13:17] PSB-mibel commented on #265
They could indeed (due to quite a difference in number of transposons, between B73 and PH207 for example).

Furthermore, for many of them there isn't yet a full chromosome-level assembly available, just a set of scaffolds/contigs. And because the gene-locations in the annotations are based on those scaffolds, it's no use to try and use the chromosomes of the more common related taxa.

[2021-04-06 22:43] eweitz commented on #265
Would [this example of using custom organisms and genomes](https://github.com/eweitz/ideogram/issues/120#issuecomment-443587510) work for you?

[2021-04-07 11:39] PSB-mibel commented on #265
Not really, since the main idea would be NOT to rely on pre-generated JSON files being put on a pre-set location.
Because the ideogram.js file and all other website code resides on a read-only directory (due to security reasons), dynamically putting the json-files in the ../data/bands/native/   (relative to the ideogram.js) directory is not going to work.

The 'dataDir' API option seemed perfect f

[2021-04-07 12:41] eweitz commented on #265
Ah, I see!  Thanks for helping me understand the use case.  Out of curiosity, where are you using Ideogram?

[2021-04-07 12:43] #239 closed

[2021-04-07 13:54] PSB-mibel commented on #265
In PLAZA (https://bioinformatics.psb.ugent.be/plaza/) there's currently a feature called WGMapping, which allows the annotation of features on the chromosomes of species. These can be gene-family members, GO terms, etc. (example: https://bioinformatics.psb.ugent.be/plaza/versions/plaza_v4_5_dicots/genome_mapping/index/gf/HOM04D000005/ath).  So very much like your annotations example (https://eweit

[2021-04-08 11:15] eweitz commented on #265
That feature seems quite useful.  I'll develop towards this [`dataDir`](https://github.com/eweitz/ideogram/blob/master/api.md#datadir) refinement, and update here within a week.

[2021-04-15 12:02] eweitz commented on #265
This feature is moving along.  See `examples/custom-organism.html` in [`custom-organism-datadir`](https://github.com/eweitz/ideogram/tree/custom-organism-datadir) for a working example.

I'll refine that to also work without file extensions (e.g. foo.bar/api/custom or foo.bar/api/custom.json), and add tests, then I'll update here.

[2021-04-15 21:46] PSB-mibel commented on #265
Thanks a lot for the hard work! I know it's not required of you, and therefore I really appreciate it.

[2021-04-22 10:58] eweitz commented on #265
This is ready for a look: see #266.  Building from source would help iterate faster on any refinements.  Rough steps:

* `git clone https://github.com/eweitz/ideogram`
* `cd ideogram`
* `npm run build`
* If using HTML like [examples](https://github.com/eweitz/ideogram/blob/master/examples/vanilla/human.html#L11): `<script src="../../dist/js/ideogram.min.js"></script>`
* Else, if using JS framework

[2021-04-28 22:49] eweitz commented on #265
Support for this will be in the next release.

[2021-04-28 22:49] #265 closed

[2021-04-29 08:09] PSB-mibel commented on #265
Hi, apologies for not replying earlier. For some reason the previous notification email from GitHub about this issue had ended up in my spam folder :-/

By building using the latest code, there is still an 'error' message (Error: Organism "atr" is generally unknown; it was not found in the NCBI Taxonomy database.  If you did not intend to specify a novel or custom taxon, then try using the organis

[2021-04-30 10:12] eweitz commented on #265
Throwing a custom error was expected, but, given your comment, perhaps unideal.  I replaced the error with a warning.

[2021-04-30 13:36] PSB-mibel commented on #265
Yes, I think a warning is a more clean solution to this.

[2021-05-10 12:52] MarilyneSummo opened #270 "Custom chromosome number and size defined by users."
Hi,

I am currently working on a form to generate custom visualizations with ideogram. Until now I was working on known species, but I would like to offer the possibility to users to choose the number of chromosomes to draw and their sizes.

I'm trying to change the value of the global variable chrBands to display custom chromosomes but if I understand correctly, ideogram still has to rely on an e

[2021-05-10 12:59] eweitz commented on #270
Would it help if I extended the [`chromosomes`](https://github.com/eweitz/ideogram/blob/master/api.md#chromosomes) API option to accept an array of objects, each including a `name` and `length`?

Also, out of curiosity, where are you using Ideogram?

[2021-05-20 10:30] eweitz commented on #265
Michiel, support for this was released in Ideogram 1.30.0, a little over a week ago.

Could you ping me here or at eric.m.weitz@gmail.com when it's viewable in PLAZA?  I'd be interested to see.  And let me know if more would help!

[2021-06-30 14:12] mrouard commented on #270
Hello Eric,

This feature would be very useful as it may allow to skip a node.js server set up for ideogram. Is that correct?
Many thanks

[2021-07-16 12:59] Mickind opened #276 "Display ideogramTrackLabel in the geometry/collinear live example"
Hello everybody,

I'm having problems in displaying the labels associated with the _ideogramTrackLabel divs of the Geometry / Collinear live example.
I need to reproduce the Geometry / Collinear live example within my WebApp and I have to load the json of the gene expression using the "Annotations" attribute of the config object.

The problem I encounter is the following: using the "Annotations" a

[2021-07-20 10:09] eweitz commented on #276
Hi @Mickind, could you attach your annotations data, and post your Ideogram configuration object?  That would help diagnose the issue.

[2021-07-20 12:54] Mickind commented on #276
Hi @eweitz, Thanks for the reply.

I am using the following Ideogram Configuration Object:

[code]

The this.dataIdeogram variable contains exactly the json that I am attaching to you.

[annotationsData.txt](https://github.com/eweitz/ideogram/files/6848359/annotationsData.txt)

Thanks so much @eweitz !

[2021-08-05 12:27] MarilyneSummo opened #277 "Annotations on diploid / triploid chromosomes"
Hi Eric,

I'm trying to display an annotation track on diploid / triploid genomes but I'm having a problem.

The chromosome number seems misinterpreted. For example the annotation of the chromosome 2 appear on the 2nd chromosome displayed by ideogram, which is in reality the 2nd copy of the chromosome 1.

<img width="668" alt="Capture d’écran 2021-08-05 à 14 02 36" src="https://user-images.githu

[2021-08-13 02:02] harijay opened #278 "Possible to change fill color of chromosome with bands off?"
Hi , Thank you for an excellent program to generate ideograms. I really like the API and how customizable everything is. I was wondering how to change the color of the fill for the chromosomes with the bands turned off?

Is there a way to change the fill color of the chromosome?

Thanks again for an awesome program
Hari

[2021-08-13 12:48] eweitz commented on #277
Hi Marilyne, thanks for this great use case.  Annotations on polyploid chromosomes would be awesome, and I've had them in my mental backlog for a long time.

Unfortunately they're not supported yet.  I would happily review a PR for this!

[2021-08-13 12:52] eweitz commented on #278
Hi @harijay, this isn't supported, but seems easy to implement.  I'll develop towards this and update you within a few days.

[2021-08-13 15:37] harijay commented on #278
Thank you so much. That sounds great...I am a javascript and css newbie, but I will try to see if I can help in any way.

[2021-08-18 10:56] eweitz commented on #278
@harijay, I just finished a first pass at supporting custom chromosome colors, over in #280.  What do you think?

[2021-08-19 14:25] harijay commented on #278
This is awesome. Thank you so much for adding the feature. It looks great and just saw the merge..once the cdn js version updated will try it out with my test case.

[2021-08-19 16:12] harijay commented on #278
Thanks a ton! I was able to webpack the library from the commit and use it to create this
Looks great!

![image](https://user-images.githubusercontent.com/11098/130102303-b2c1c67e-4f8e-46ce-a13b-06fa923eaaad.png)

[2021-08-19 22:19] eweitz commented on #278
Great!  Would you mind if I asked where you're using Ideogram, @harijay?  Knowing such things helps maintainability.

[2021-08-19 22:19] #278 closed

[2021-09-01 09:58] Mickind commented on #276
Hi @eweitz, could you kindly tell me if you have updates on the issue?
Thank you very much!

[2021-09-01 10:11] eweitz commented on #276
@Mickind, no updates yet, unfortunately.  My time on Ideogram for the past several months has been filled by improving the [related genes kit](https://eweitz.github.io/ideogram/related-genes).

Thanks for your diagnostic information -- it will help anyone who works to resolve this, and I welcome help on this issue.

Would you mind if I asked where are you using Ideogram?

[2021-09-01 11:01] Mickind commented on #276
We are working, with my work team, on a personalised healthcare research project involving the use of genomic and expression data. In order to allow the doctor to view this type of data in the medical record we are creating, ideogram is the best viewer we have found. The data we have sent to you are test (fake) data and do not correspond to real patient data.

Anyway, I hope that the issue will be

[2021-09-02 14:38] PSB-mibel opened #281 "Chromosome identifiers which contain CSS selectors"
If a chromosome identifier contains a dot/period ('.'), it breaks the program.
Most likely because the '.' is seen as a class selector.

My solution is to convert the chromosome ids (by replacing the '.' with a '_' ), but maybe some code changes could be done to prevent this from being an issue.

[2021-09-07 15:35] PSB-mibel opened #282 "Potential issue with very large chromosomes"
Hi,

it would appear that there might be an issue with large custom chromosomes:
for Arabidopsis thaliana (using custom chromosome lengths) everything works fine:
https://bioinformatics.psb.ugent.be/plaza/versions/plaza_v5_monocots/genome_mapping/wgmapping/go/GO%3A0009611/species/ath

However, for Triticum aestivum, the chromosomes are simply not displayed:
https://bioinformatics.psb.ugent.be/plaz

[2021-09-11 21:28] rdcwuyy opened #283 "legend name misplaced with row name"
Dear Eric,

Thanks for this great tool ideogram.js again.

Could you please take a look at a small issue regarding the legend labels?
The legend name seems to be misplaced as the label for the first row, and therefore the last row is missing its icon.

Here is a picture of a legend:
<img width="200" alt="Screenshot 2021-09-11 at 22 02 03" src="https://user-images.githubusercontent.com/9682240/1329

[2021-11-26 14:18] eweitz commented on #283
Greetings!  This is fixed via #287.

I aim to release an update including this fix in a week or so.  If you need it beforehand, you can [build from source](https://github.com/eweitz/ideogram/issues/89#issuecomment-360983819).

[2021-12-01 13:55] eweitz commented on #283
This fix has been released with [Ideogram 1.32.0](https://github.com/eweitz/ideogram/releases/tag/v1.32.0).  Thanks again for reporting the issue!

[2021-12-01 13:55] #283 closed

[2021-12-01 16:28] rdcwuyy commented on #283
Great! Thank you so much!

Best wishes,
Yanying

[2022-06-09 02:02] Hat-boy opened #304 "How to display only the brandLabels corresponding to the red triangle instead of all brandLabels？And align the label with the triangl"
![image](https://user-images.githubusercontent.com/74780352/172748302-d211dae3-6e1d-4644-9d19-b5b559a5a099.png)

[2022-06-10 02:07] #304 closed

[2022-07-07 22:18] NicoNekoru opened #305 "API annotations not working on genomes with non "1,2,3" labelled chromosomes"
Ideogram.js is failing to create annotations for organisms who have their annotations on the NCBI listed with "non-numeric chromosomes" (i. e. Ca1, Ca2, ... and G1, G2, ...). Both class initialization with annotations (`new Ideogram({organism, annotations})`) and the `ideogram.drawAnnots` method fail to create annotations for such organisms.

Example:
[code]

Expected output:
<p align="middle">
<i

[2022-07-08 07:26] NicoNekoru commented on #305
I forgot that `chr` is the name of the chromosome and not just the index, the solution to this would be to set `chr` to the actual chromosome you are trying to annotate i. e.
[code]

[2022-07-08 07:26] #305 closed

[2022-07-14 23:48] mvweae commented on #85
@GenomicsGeorge hi there. can I ask how you display your CNVs?
@eweitz  I would also like to plot CNVs on one side and RNA expression on the other side to see concordance between then 2 technologies. I would be happy even if I could just plot them both on one side. So blocks of CNV as one track, histogram of RNAseq expression as another track, point mutations (track layout) as a single third track

[2022-07-20 14:29] a-thind opened #306 "Is there a limit to the number of keys in the legend?"
I am trying to create an overlaid ideogram like this example (https://eweitz.github.io/ideogram/annotations-overlaid) but with a legend indicating the type of overlays, however when I create a legend with more than 7 keys, only 7 keys have coloured rectangles.
![image](https://user-images.githubusercontent.com/26285885/180007815-a0b4df89-6b88-450c-814e-a35326a52744.png)
Is there a way to display r

[2022-07-22 17:00] NicoNekoru opened #307 "Issue with custom organism bandfiles"
Using the band file `cicer-arietinum.json` in `./data/bands/cicer-arietinum.json`
[code]
And the ideogram config
[code]
I get the error
[code]
with no Ideogram displayed. When logging `(chr, bands, chrName, )` in the `getChromosomeModel` function before `chr = getChrModelScaffold(chr, bands, chrName, ideo);` I get the output
[code]
and when logging `chr` after the `getChrModelScaffold` I get
[code

[2022-07-23 14:03] #307 closed

[2022-07-28 11:40] eweitz commented on #306
Hello!  I'm unaware of any code limiting the number of colored keys in the legend.

Can you a post minimal reproducible example?  Whether as code in a comment here, or a minimal repo, that would help investigate the issue.

[2022-08-09 18:45] LuisGFdez opened #310 "Display annotation track from a BED file"
Hi Eric,

I'm trying to display an annotation track on GCRh38 human assembly

This is my R code, and the problem is that when I run it, it is not displaying the annotations from my bedfile.

app <- Dash$new()

app$layout(
  htmlDiv(
    list(
      htmlLabel("Click a chromosome for a closer look; double-click to return to the overview:"),

                      "GCH38",
      dashbioIdeogram(

[2022-08-10 22:35] eweitz commented on #310
Greetings, Luis!  Thanks for using Ideogram.

Are any error messages displayed?  I imagine you're running this in a browser, and you'd see such errors in Chrome DevTools Console.  (You can open DevTools by clicking the [Chrome menu bar](https://www.google.com/search?q=chrome+menu+icon&tbm=isch), "More Tools", "Developer Tools".)

Also, could you give me a copy of your BED file?  It'd be ideal if y

[2022-08-10 23:35] LuisGFdez commented on #310
for sure, here it is my bed file
[WG_InvertedRepeats_hg38_all.zip](https://github.com/eweitz/ideogram/files/9305108/WG_InvertedRepeats_hg38_all.zip)

[2022-08-11 04:08] LuisGFdez commented on #310
It looks like this is the problem. I'm using firefox as my main browser

![Captura de pantalla de 2022-08-10 23-06-43](https://user-images.githubusercontent.com/89879319/184063234-3f190609-afdc-4eaa-a238-e7cc89374e7b.png)

[2022-08-14 17:06] a-thind commented on #306
Hi! Thanks for your reply. I have created a basic [htmlwidget in R](https://github.com/a-thind/ideogram) (IdeogramJS  wrapper) for visualising chromosomal segments. Here is a simulated test dataset file: [test.txt](https://github.com/eweitz/ideogram/files/9333784/test.txt).
.

[2022-08-16 18:31] LuisGFdez commented on #310
Should I parse/convert my bedfile into a json file?

[2022-08-19 21:37] LuisGFdez commented on #310
Hi Eric,

I just realized that there was a similar problem as mine here https://github.com/eweitz/ideogram/issues/170.

Could you tell me what it is the solution that you gave them?

![Captura de pantalla de 2021-09-01 10-39-12](https://user-images.githubusercontent.com/89879319/185710583-93a85c7b-883d-456d-a81b-f30e5fc8e204.png)

[2022-08-19 22:40] eweitz commented on #310
Hi Luis, your screenshot of the Console panel in Chrome DevTools is helpful!  It indicates an error related to cross-origin resource sharing (CORS).

It seems your problematic URL is:
https://github.com/LuisGFdez/inverted_repeats/blob/22ae06451ca902fe823998c14086834ee77a0113/chr3.bed

The problem is caused by your file's URL using at a different origin (https://github.com) than the web page you're

[2022-08-22 22:43] LuisGFdez commented on #310
Thank u so much. One more question, is it possible to display a bed file stored with Git LFS as the this one:
https://github.com/LuisGFdez/inverted_repeats/blob/main/WG_InvertedRepeats_hg38_all_collapsed.bed

[2022-08-24 12:21] eweitz commented on #310
Not directly like non-LFS files, it seems.

Instead of returning file content, https://raw.githubusercontent.com/LuisGFdez/inverted_repeats/3ea36ee81fb892bc1b6c274f0062fcb0bcf02091/WG_InvertedRepeats_hg38_all_collapsed.bed returns:

oid sha256:247e20d9c183fb4ffad15c1c8cce8aa418f38949ad58a16df8de575e37c860a3
size 93870154

That said, it might be nice to add support for gzip-compressed BED files.  T

[2022-09-27 19:05] LuisGFdez opened #314 "Support T2T human genome"
I have certain coordinates that I would like to map in T2T, but from what I know is that it is still not available a version in ideogram for T2T

[2022-09-27 19:07] LuisGFdez opened #315 "Support gzipped BED files"
I´m trying to use very large bedfiles but ideogram does not support  gzip-compressed BED files. Is it possible to add support for it?

[2022-09-27 20:38] jmur14 opened #316 "Support for structural rearrangements"
Could ideogram support circular diagrams to depict ring chromosomes?

[2022-09-30 13:41] stephenshank opened #317 "Histogram support for bedgraph format"
Thanks for your work on this wonderful project! I am wondering if it is possible to support the [bedgraph format](https://genome.ucsc.edu/goldenPath/help/bedgraph.html) on the histogram, or if there is any interest in doing so. At the moment it seems that only annotation JSONs are supported. I am interested in using this as a viewer for ChIP-seq peaks where the former format makes more sense.

[2022-10-01 00:36] eweitz commented on #317
Interesting proposal!  Could you provide some sample data?

[2022-10-01 00:38] eweitz commented on #316
This is intriguing.  Could you briefly explain how this would be useful to support in Ideogram?

[2022-10-01 00:40] eweitz commented on #310
Thanks for opening those separate issues!  For convenient reference, these are #314 and #315.

[2022-10-01 00:40] #310 closed

[2022-10-01 00:41] eweitz commented on #315
Thanks for following up with this!  Background is [here](https://github.com/eweitz/ideogram/issues/310#issuecomment-1225647739).

[2022-10-01 00:42] eweitz commented on #314
This seems worthwhile indeed.  Do you know where I can find coordinates for T2T centromeres?

[2022-10-01 15:54] stephenshank commented on #317
Thank you for such a prompt and positive response! Some data can be found here:
https://galaxy.hyphy.org/api/datasets/889b3527af72ff94/display?to_ext=bedgraph

It's from [this history](https://galaxy.hyphy.org/u/stephenshank/h/epigenetics) and was generated with the [bamCoverage](https://toolshed.g2.bx.psu.edu/repository?repository_id=d0d9710a573c56e6) tool on reads mapped to hg19 with BWA on an a

[2022-10-11 03:37] LuisGFdez commented on #314
This is the file with all the pericentromeric and centromeic regions of T2T http://genome.ucsc.edu/cgi-bin/hgTrackUi?hgsid=1470519897_5lu8DAAPH6GRG7R5iKraehYaOhya&db=hub_3671779_hs1&c=chr9&g=hub_3671779_censat

As it is fully solved T2T, there is not a file that only have the centromeric regions. In this file it is inlcued all the satellite rich regions

You can donwload it from here:
https://geno

[2022-10-12 13:36] thedam opened #319 "404 (Not Found)"
Hey, I've run the Vue code according to example

[code]

But nothing appears in the browser and in the console there is an error:
GET http://192.168.1.11:8080/data/bands/native/homo-sapiens.js 404 (Not Found)

however the file exists under the path:
node_modules/ideogram/data/bands/native/homo-sapiens.js

How can I fix that?

Thanks
DL

[2022-10-12 13:47] thedam commented on #319
ok, after removing `ideogram` folder from `node_modules`, removing entry in `package.json`, and removing `package-lock.json` file and reinstalling it again with `npm install --save ideogram` it started to work

[2022-11-21 18:37] Hannah1746 opened #325 "Karyotype file of dual comparison error"
Hello.

I am trying to run:

require(RIdeogram)
library(devtools)

karyotype <- read.table('karyotype.txt', header = T)
synteny <- read.table('synteny.txt', header = T)

ideogram(karyotype = karyotype, synteny = synteny)

My files look like:
karyotype.txt
Chr	Start	End	fill	species	size	color
Myx_Chr22	1	47849308	139b08	B	9.5	139b08
Myx_Chr43	1	38023304	139b08	B	9.5	139b08
Myx_Chr27	1	46332826	078

[2022-11-22 02:05] eweitz commented on #325
Greetings!  This repository is for Ideogram.js, a JavaScript library for chromosome visualization.  Given your helpful example code, it seems you might be looking for [RIdeogram](https://github.com/TickingClock1992/RIdeogram).

That said, if the Ideogram.js synteny examples in the following are of interest to you, let me know!
* [Genome alignment](https://eweitz.github.io/ideogram/genome-alignment

[2022-11-22 02:05] #325 closed

[2022-11-22 15:04] Hannah1746 commented on #325
Thank you for your fast response. I will reach out to RIdeogram about my error. I think I could also use the Genome alignment to get that same kind of figure I am looking for. Is there example code that I could use try this out?

[2022-11-23 21:22] eweitz commented on #325
Yup!  Source code for the [genome alignment example](https://eweitz.github.io/ideogram/genome-alignment) is available at:

https://github.com/eweitz/ideogram/blob/gh-pages/genome-alignment.html

If you'd like, I can look into making a related visualization with your data.  I'd just need your karyotype and synteny data attached or pasted in a comment here.